[2013-02-28 16:21] m4tthumphrey opened #2 "Add tests"

[2013-03-02 22:38] m4tthumphrey opened #3 "Add doc"

[2013-04-12 10:48] #3 closed, assigned to nobody

[2013-04-18 11:32] m4tthumphrey opened #4 "Sort dependency injection properly"

[2013-04-18 21:56] m4tthumphrey opened #5 "Decouple from Buzz"

[2013-04-18 21:58] m4tthumphrey opened #6 "Test error listener properly"
Noticed a `debug()` statement in there today... woops. :-1:

[2013-04-19 10:32] m4tthumphrey opened #7 "Look into making models persistent"
[code]

The following block

[code]

would be the same as

[code]

[2013-04-22 11:10] #4 closed, assigned to nobody

[2013-04-22 13:38] m4tthumphrey opened #8 "Swap model constructor parameters around"
IE

[code]

instead of

[code]

This would make `$client` mandatory but it is always passed anyway so do not see any disadvantages to this.

[2013-05-24 10:23] pierreinglebert opened #9 "Add ability to transfer project to a group"
Add the ability to transfer project to a group as the gitlab API already supports it.

[2013-05-24 11:13] #9 closed, assigned to nobody

[2013-06-05 10:20] m4tthumphrey opened #10 "Use factories to create new projects"

[2013-06-18 08:09] cfoellmann opened #11 "Tagged version"
Could you please release tags to make it more stable/predictable for users to deploy.

[2013-06-18 08:58] #11 closed, assigned to nobody

[2013-10-05 06:22] damiandennis opened #15 "Cant create a user"
Hi,

I run this command

$client->api('users')->create('test@test.com','test',array('name'=>'name','username'=>'username'));

I get an error like follows:
PHP Fatal error:  Uncaught exception 'Gitlab\Exception\ErrorException' with message '400 (Bad request) "email" not given' in /home/damian/public_html/vendor/m4tthumphrey/php-gitlab-api/lib/Gitlab/HttpClient/Listener/ErrorListener.php:47

Not sur

[2013-10-06 23:23] #15 closed, assigned to nobody

[2013-12-23 20:51] psaunders88 opened #22 "Updating users"
Is there a reason that there is no functions in Gitlab\Api\Users for updating/deleting a user in gitlab?

I'd be happy to add the functionality and make a pull request just wanted to ask why first or Is it just that you didn't the functionality personally (like you said in the readme)?

Or could we just make the functions delete and put in Gitlab\Api\AbstractApi public rather than protected so the

[2014-01-10 16:21] #22 closed, assigned to nobody

[2014-01-21 08:38] topdown opened #26 "Create project in namespace"
Is it possible to create a project in a namespace with your wrapper?
I don't see how to set the namespace ID.

I did find this https://groups.google.com/forum/#!topic/gitlabhq/x7MOmJGWLSc
So it is possible with the API, was scratching my head because it wasn't in the API documentation either.

[2014-01-21 23:36] #26 closed, assigned to nobody

[2014-01-25 16:15] Zeichen32 opened #27 "Symfony2 Bundle"
I've created a Symfony2 Bundle to use your library easy in Symfony. Maybe you want to link it in your readme file?

https://github.com/Zeichen32/GitLabApiBundle

[2014-01-30 09:31] #27 closed, assigned to nobody

[2014-02-03 16:24] romanmatena opened #29 "Issues api lacks any possibility how to add attachment"
I see that attachment you can add only to the comment, but api comments neither issues doesnt support attachments?

[2014-02-03 19:43] #29 closed, assigned to nobody

[2014-04-07 16:21] m4tthumphrey opened #31 "Create branches"
As per https://github.com/gitlabhq/gitlabhq/blob/master/lib/api/branches.rb

[2014-04-14 11:00] cordoval opened #32 "Gush is integrating this library"
I have heard complaints that this library does not use guzzle3 or 4.
It seems like is the only library around for gitlab that is more downloaded so far in packagist.

This ticket is to reference https://github.com/gushphp/gush-gitlab-adapter/blob/master/src/Adapter/GitLabAdapter.php#L86 and also asking for help integrating your library in.

We will first make it work then proceed to rewrite so it

[2014-04-19 10:16] meyskens opened #34 "GitLab.com API issue"
I tried to create a new project using the example but it seems I get this error every time:
PHP Fatal error:  Uncaught exception 'Gitlab\Exception\ErrorException' with message '400 (Bad request) "name" not given'

I use the hosted GitLab at gitlab.com.

[2014-06-05 12:05] jloh opened #43 "Issue creating snippet"
I can't work out what I'm doing wrong. I've got the following code:

[code]

But I'm getting the following error:

[code]

What am I doing wrong?

[2014-06-08 18:47] #43 closed, assigned to nobody

[2014-07-29 08:35] artshevtsov opened #48 "Feature request: is it possible to use Buzz for HTTP requests?"
I can't use cURL on some of my servers. Your library works fine, but it requires cURL. Is it possible to use Buzz library for HTTP requests in future? Buzz is a lightweight PHP 5.3 library for issuing HTTP requests.
https://github.com/kriswallsmith/Buzz

[2014-07-29 20:09] #48 closed, assigned to nobody

[2014-08-03 11:29] #32 closed, assigned to nobody

[2014-08-03 11:32] cordoval opened #49 "improve library move to guzzle 4 out of buzz"
previous: https://github.com/m4tthumphrey/php-gitlab-api/issues/32

The library uses buzz introducing yet another dep in gush. We can move it to guzzle 4 which is suit. In addition we should start semver also bugfixes so we can change https://github.com/gushphp/gush-gitlab-adapter/blob/master/composer.json#L5 which is a mistake on the version this should require.

Gitlab support works more or less

[2014-10-02 09:08] #34 closed, assigned to nobody

[2014-10-05 20:08] digitalkaoz opened #53 "tag 6.10"
could you please tag a new stable release? to be able to use e.g. `MergeRequest::opened` and rely on stable versions

[2014-10-13 19:51] ls12styler opened #54 "PHP Version support"
What should be the minimum supported version of PHP? Considering 5.3 was released over 5 years ago and that 5.6 was recently released, I would suggest the library targets no less that 5.5.

[2014-10-14 08:15] ls12styler opened #55 "PSR-4"
http://www.php-fig.org/psr/psr-4/

This enables us to have a VendorName\PackageName namespace. I would suggest "php-gitlab-api\php-gitlab-api" as the vendor\package names. this may be better suited then in a GitHub organisation.
It would also allow the code structure to be a little bit neater.

It would also make the suggested adapter packages a little neater and easier to find.

Thoughts?

[2014-10-31 10:38] Maff- opened #56 "ErrorListener does not support message array"
The `Gitlab\HttpClient\Listener\ErrorListener` will produce a Fatal error (_Wrong parameters for ErrorException_) when the Gitlab API returns a error message that contains an array instead of a string message. Offending line: [46][1]

[code]

This will mostly happen when an data validation error occurs. See [Data validation and error reporting](http://doc.gitlab.com/ce/api/README.html#data-validat

[2014-11-03 13:52] GeoffreyHervet opened #58 "projects/search"
Hi,

I think it could be nice to search projects using per_page & page parameters

Parameters:
* query (required) - A string contained in the project name
* per_page (optional) - number of projects to return per page
* page (optional) - the page to retrieve

Best,
G.

[2015-01-28 03:51] zanematthew opened #60 "The `getFile()` method does not appear to return the full file content."
First thanks for this API, it works well and looks to save myself and others a ton of time.

I'm currently looking to retrieve a file contents from a given repo. I'm using the following:
`$project = $client->api('repositories')->getFile( $project_id, $file_path, $ref );` which does work, but the content appears to be truncated. I know that GitHub API limits file sizes, and I haven't been able to d

[2015-01-28 15:39] zanematthew commented on #60
Actually it seems it does return the full response, just some where in my implementation it is being truncated. I verified the full response is returned here: https://github.com/m4tthumphrey/php-gitlab-api/blob/4168b2d297c8554f96a9baff99d1d5cc16cf8b90/lib/Gitlab/HttpClient/Message/Response.php#L14

yet when I use `getFile` method I only receive part of the response, possibly theres a flag/option/p

[2015-01-28 15:42] zanematthew commented on #60
zomg :( have a laugh on my behalf!

Think about...

`var_dump()`
`print_r()`

wait for it...yeah.

[2015-01-28 15:42] #60 closed

[2015-02-01 05:06] zanematthew commented on #26
Could you provide a code snippet on using this one? Its not that clear for me as others you can interact with like the following:

`$project = $client->api('projects')->create('My Project', ... `

I tried: `$client->api('projectnamespaces')->all()`, which I'm sure is wrong, and doesn't work.

[2015-02-01 05:12] zanematthew commented on #26
Dug deeper and found this: `$client->api('namespaces')->all();`

[2015-02-09 11:00] j0k3r commented on #56
Any news about that issue ?

Still got some `Wrong parameters for Exception([string $exception [, long $code [, Exception $previous = NULL]]])`

Shouldn't just cast the `$errorMessage` ?

[code]

[2015-02-10 10:37] Maff- commented on #56
I think simply casting it to a string will just throw a _Array to string conversion_ notice. Not really a solution imo.

[2015-02-10 11:41] jubianchi commented on #56
Hello folks!

I'm working on a patch right now, sorry for the delay I was really busy.
Hopefully I'll submit it today.

[2015-02-10 12:26] m4tthumphrey commented on #56
Lots of ways of handling this...

- Convert the array to a JSON encoded string of the array
- Implode the list of errors with a comma (or any other char really)
- Grab the first error (preferred)

[2015-02-10 12:35] j0k3r commented on #56
:+1:

So this error :
[code]
should generate this exception message:
[code]

I prefer to see all informations at once instead of getting the first error, fixin it, retryin, getting the second error (which I've not seen the first time since only the first error is reported), etc ..

[2015-02-10 13:09] m4tthumphrey commented on #56
@j0k3r Yeh I agree. @jubianchi have you done anything on this yet? If not I'll do it now.. lemme know.

[2015-02-10 13:35] m4tthumphrey commented on #56
I'm inpatient :wink:

[2015-02-10 13:45] j0k3r commented on #56
@m4tthumphrey thanks !

Could you tag a new release then?

[2015-02-10 13:45] jubianchi commented on #56
@m4tthumphrey I was about to do the same thing you did in your patch: parse the JSON containing error messages and format them as a comma separated list of errors.

:+1: thanks for the patch :)

[2015-02-10 13:51] #31 closed

[2015-02-10 14:05] m4tthumphrey opened #61 "Type hints and phpdoc"

[2015-02-10 14:05] m4tthumphrey commented on #61
Started in a1de13415

[2015-02-10 14:54] m4tthumphrey commented on #56
@j0k3r I'm working on a few clean up updates, once thats done I'll tag a new release.

[2015-02-18 12:57] chocopoche opened #62 "Implement hook tag_push_events"
The tag push events have been added to Gitlab API v7.4.0.rc1 (https://github.com/gitlabhq/gitlabhq/commit/b4963e9dda1ced7c219f24172e9fa4c8a5076b69)

What would be required to implement such feature? I was about to propose a merge request but I guess it's a bit more complicated and would require to implement all changes from Gitlab 6.9.1, according to the versionning policy.

Thanks you

[2015-02-18 16:27] #62 closed

[2015-02-18 16:28] m4tthumphrey commented on #62
Hey, I've just pushed an update for this. I will not be tagging a release just yet however as there is a few more bits I wish to clean up before tagging.

[2015-02-18 16:35] #58 closed

[2015-02-18 16:43] m4tthumphrey commented on #53
There will not be a major new tag until the HTTP adaptor (#5, #50, #49), PHP version (#54) and PSR-4 (#55) discussions are concluded. I will also be doing a lot of house keeping over the coming days and weeks, which may include several breaking changes, mainly todo with models (#8, #10). I am not sure on the roadmap of Gitlab but envisage this to coincide with the release of 8.0 depending on @rand

[2015-02-18 16:43] #53 closed

[2015-02-18 16:44] m4tthumphrey commented on #49
Closing, please see #50

[2015-02-18 16:44] #49 closed

[2015-02-18 16:44] m4tthumphrey commented on #5
Closing, please see #50

[2015-02-18 16:44] #5 closed

[2015-02-18 16:50] m4tthumphrey opened #63 "Remove deprecated Group#owner_id from API"

[2015-02-18 16:50] m4tthumphrey opened #64 "Add support for editing an existing project"

[2015-02-18 16:50] m4tthumphrey opened #65 "Access groups with their path"

[2015-02-18 16:51] m4tthumphrey opened #66 "Access all issues assigned to a single milestone"

[2015-02-18 16:51] m4tthumphrey opened #67 "Edit group members"

[2015-02-18 16:52] m4tthumphrey opened #68 "Add sorting options to appropriate endpoints"

[2015-02-18 16:53] m4tthumphrey opened #69 "Add endpoint to fetch all changes on a MergeRequest"

[2015-02-18 16:53] m4tthumphrey opened #70 "Expose description in groups model"

[2015-02-18 16:54] m4tthumphrey opened #71 "Adds comments to commits"

[2015-02-18 16:54] m4tthumphrey opened #72 "Expose username in project events"

[2015-02-18 16:57] #6 closed

[2015-02-19 09:18] #72 closed

[2015-02-19 09:56] #71 closed

[2015-02-19 12:14] m4tthumphrey opened #73 "Create Label model"

[2015-02-19 13:21] m4tthumphrey commented on #73
Fixed in 8598bec8cd

[2015-02-19 13:21] #73 closed

[2015-02-19 13:24] m4tthumphrey commented on #55
I am thinking of going ahead with making the library PHP 5.4+ in the next major update

- Guzzle4 requires 5.4
- It's 2015

Thoughts? @ls12styler @hollodotme @jubianchi @cordova

[2015-02-19 13:26] m4tthumphrey commented on #54
I am thinking of going ahead with making the library PHP 5.4+ in the next major update

- Guzzle4 requires 5.4
- It's 2015
Thoughts? @ls12styler @hollodotme @jubianchi

[2015-02-19 13:30] ls12styler commented on #54
Anything is better than 5.3 :) so thumbs up from me.

[2015-02-20 13:00] m4tthumphrey commented on #2
Have also created a new `tests` branch, am starting with the Api classes. Going to take a while I reckon!

[2015-02-23 15:22] m4tthumphrey commented on #2
Projects, Groups and Namespaces all done.

[2015-02-23 15:47] #70 closed

[2015-02-23 15:52] m4tthumphrey commented on #65
No work required in the lib.

[2015-02-23 15:52] #65 closed

[2015-02-23 15:52] m4tthumphrey commented on #67
Fixed by 993ed2

[2015-02-23 15:52] #67 closed

[2015-02-23 15:53] m4tthumphrey commented on #63
Fixed by 993ed2f

[2015-02-23 15:53] #63 closed

[2015-02-23 16:20] #64 closed

[2015-02-23 16:20] #66 closed

[2015-02-23 16:20] #69 closed

[2015-02-23 16:28] m4tthumphrey commented on #68
Seems to only be projects that support sorting so all done...

[2015-02-23 16:28] #68 closed

[2015-02-24 12:36] m4tthumphrey commented on #2
Users, Milestones, Groups, Snippets, SystemHooks

[2015-02-24 16:21] m4tthumphrey opened #74 "BREAKING CHANGE: Project hooks"
The [latest commit](https://github.com/m4tthumphrey/php-gitlab-api/commit/41457f0d1362f9b0f0ee4f5af3b09704c8fb5510) to master introduces a breaking change when managing project hooks.

Before the method signature for `Api\Projects::addHook()` was as follows:

[code]

It is now

[code]

This allows the user to specify a URL (required field) and then pass an optional list of event types. As you can

[2015-02-24 16:24] #61 closed

[2015-02-25 11:02] m4tthumphrey commented on #2
Repositories, Issues, Merge Requests all done.

[2015-02-25 11:55] m4tthumphrey commented on #2
Whole of `Gitlab\Api` is now under test.

[2015-03-03 14:33] m4tthumphrey opened #76 "Expose avatar_url in Project model"

[2015-03-03 14:35] #76 closed

[2015-03-03 14:35] #74 closed

[2015-03-04 09:11] m4tthumphrey opened #77 "Support authentication via OAuth"

[2015-03-04 09:11] #77 closed

[2015-03-06 14:36] j0k3r commented on #56
@m4tthumphrey It seems to not be *fully* fixed, I just got :

I guess [`parseMessage`](https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/HttpClient/Listener/ErrorListener.php#L68) needs a recursive function to handle the `$message`.

I'm running Gitlab 7.8.2.

[2015-03-06 15:14] m4tthumphrey commented on #56
@j0k3r Do you what the Gitlab error was that caused it?

[2015-03-06 15:15] j0k3r commented on #56
Sadly not.

[2015-03-06 16:06] m4tthumphrey commented on #56
What were you trying to do when you had it?

[2015-03-06 16:10] j0k3r commented on #56
It's hard to say because we have integrated your Gitlab API inside an internal project that rely on Git to store some config file. This error was reported to us by a user that use this project, so hard to say. I could be a commit, a push or a merge request creation.

I can give you first lines of the stacktrace:

[code]

[2015-03-06 16:12] m4tthumphrey commented on #56
Looks like merge request creation...

I'll take a look.

[2015-03-06 16:28] #56 closed

[2015-03-06 16:29] m4tthumphrey commented on #56
Should be sorted; there was an obvious bug with the 3rd param of the sprintf but that doesn't account for the field being `"0"` so have checked for the presence of a field name.

[2015-03-06 16:34] j0k3r commented on #56
Sounds good to me :+1:

[2015-04-07 10:35] m4tthumphrey opened #81 "urlencode() -> rawurlencode()"
Replace all usage of `urlencode()` to `rawurlencode()`

[2015-04-07 10:40] paolomainardi commented on #81
@m4tthumphrey the idea is to replace all occurrences of urlencode() to rawurlencode() ?

[2015-04-07 10:52] m4tthumphrey commented on #81
Yes, your MR just gave me the push I needed to get around to updating it!

[2015-04-07 13:29] paolomainardi commented on #81
@m4tthumphrey can i take in charge this issue ?

[2015-04-07 15:34] m4tthumphrey commented on #81
Of course! :)

[2015-04-07 15:57] paolomainardi commented on #81
PR: https://github.com/m4tthumphrey/php-gitlab-api/pull/82

[2015-04-15 08:26] mahammedzkhan opened #83 "Tree function path argument for subfolders"
There's an issue with the tree function to access subfolders. It doesn't append the 'path' argument value to the url.

Example:

/repository/branches/[branchname]/[project id]/repository/tree/[path]

[2015-04-15 09:01] mahammedzkhan commented on #83
Fixed in the latest version, issue was caused by urlencode.

[2015-04-15 09:01] #83 closed

[2015-04-15 09:49] m4tthumphrey commented on #81
@paolomainardi Are you still planning on completing this for all of the API endpoints?

[2015-04-15 09:50] paolomainardi commented on #81
@m4tthumphrey yes but probably you missed this MR: https://github.com/m4tthumphrey/php-gitlab-api/pull/82 :)

[2015-04-15 11:59] m4tthumphrey commented on #81
No I did see it but it only has the project endpoints updated at the moment...?

[2015-04-15 12:01] paolomainardi commented on #81
It covers also the other endpoints:
https://github.com/m4tthumphrey/php-gitlab-api/pull/82/files

[2015-04-15 12:08] m4tthumphrey commented on #81
Ah yes so it does, I'm sorry!

[2015-04-17 08:48] #81 closed

[2015-04-17 08:56] m4tthumphrey opened #84 "Add pagination to project events"

[2015-04-17 08:57] m4tthumphrey opened #85 "Project labels are now available over the API under the "tag_list" field"

[2015-05-06 15:00] #84 closed

[2015-05-06 15:00] #85 closed

[2015-05-07 18:59] bartoszx opened #89 "function encodePath problem"
I think there is something wrong with function encodePath in AbstractApi.php line 122
As Gitlab documentation says "make sure that the NAMESPACE/PROJECT_NAME is URL-encoded, eg. /api/v3/projects/diaspora%2Fdiaspora (where / is represented by %2F)."

line: rawurlencode($path); encodes path as documentation describes and
line: return str_replace(array('%2F', '.'), array('/', '%2E'), $path)
changes i

[2015-05-07 20:21] m4tthumphrey commented on #89
Ah crap, I'll sort a fix for this tomorrow. It seems that the reason for the code in the `encodePath()` method only applies to the branch endpoints.

[2015-05-11 22:20] shellprog opened #92 "How to use with gitlab.com"
I was wondering if i can use it with gitlab.com repos . I was unable to decide what the host param will be if using with gitlab.com

    $client = new \Gitlab\Client('https://git.yourdomain.com/api/v3/'); // change here

[2015-05-11 22:43] shellprog commented on #92
thanx got it

[2015-05-11 22:43] #92 closed

[2015-05-17 11:00] pavankumarkatakam opened #93 "Where do i get gitlab access_token"
I have install gitlab CE in my local server and i also wanted to develop an php based application for using gitlab as Oauth2service provider . so im wondering how it will be achieved. I got up with this package and read all the documentation in read me file but one question remains me to start nothing that is where do i get a token. i have created a application in my gitlab and i have now app-id ,

[2015-05-17 11:45] pavankumarkatakam commented on #93
After reading this doc i got the answer and working now
http://doc.gitlab.com/ce/api/oauth2.html

but in this package there is no feature for getting the private or access-code by athuentication. can anybody explain this.

[2015-05-18 08:30] m4tthumphrey commented on #93
@pavankumarkatakam When this library was first written, the OAuth functionality wasn't around, you only had access via the users private token so it was assumed that you would already know what your token was. There are plenty of OAuth libraries for PHP out there so you should be able to obtain one without this library directly.

[2015-05-18 08:30] #93 closed

[2015-05-29 10:59] bartoszx commented on #89
Hi @m4tthumphrey
Have you found some time to fix this?

[2015-05-29 11:44] m4tthumphrey commented on #89
Agh I'd completely forgotten to be honest. I'll do it now!

[2015-05-29 12:02] #89 closed

[2015-05-29 12:09] m4tthumphrey commented on #89
Should be good now!

[2015-05-29 13:32] bartoszx commented on #89
Thank you :)

[2015-06-30 13:49] khrizt opened #97 "Problem when fetching group members"
Hi,

I found a problem when using the api to get group members, doing this query

[code]

I found that the response headers were truncated somehow and the headers returned this item:

[code]

Doing a little research I found that the problem seems to be in the __populateResponse__ method of the Buzz\Client\AbstractCurl class, in this method makes the following control structure

[code]

And in my c

[2015-07-01 16:21] m4tthumphrey commented on #97
Wow, nice find! There is an open issue #50 regarding the ability to set a specific HTTP adaptor so Buzz will no longer be a requirement. Unfortunately there is no timeframe for this at this time.

[2015-07-02 07:20] khrizt commented on #97
Cool, that would be a great improvement.

Anyway I found a workaround for this problem but when doing the query to get the users' email the response did not include this parameter email neither when doing a group/id/members nor doing a member/id/show, do you know anything about that? It looks like a gitlab problem but... you never know :P

[2015-07-02 19:39] DrWifey opened #98 "How many commits I can get?"
I'm trying to get commits of a project via PHP. I got all commints for the today date. How can I get all of them? Thanks

[2015-07-02 21:05] m4tthumphrey commented on #98
Hey!

There are pagination arguments available on the `commits()` [method](https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/Api/Repositories.php#L100). I'm not sure if there is a maximum limit on the number of results you can request per page, probably not. If there is a limit you will need to write a loop which will call the method as many times as required based on the total

[2015-07-02 21:05] #98 closed

[2015-07-02 21:18] m4tthumphrey commented on #97
@khrizt I would presume that's by design as users probably wouldn't want their email address to be easily accessible.

PS, sick avatar!

[2015-07-03 08:22] khrizt commented on #97
Hahaha, thanks for the avatar.

I undestand that this could be a design thing but in their documentation it says that email should come in the response, I opened an issue there (https://github.com/gitlabhq/gitlabhq/issues/9421). Maybe someone will answer.

Thanks for everything man!

[2015-07-03 19:44] m4tthumphrey commented on #97
Which endpoint are you using to get the email address? `/users` or `/users/:id` ? I've just done a raw request on one of my gitlab installs at `/users' and the email address is included. Are you an admin of the gitlab your using?

[2015-07-06 07:31] khrizt commented on #97
mmmm that's it! I should have known :P Thanks a lot mail I'll close the issue I created.

[2015-07-09 14:00] khrizt commented on #97
I close this one as there is an issue for chosing HTTP adapters

[2015-07-09 14:00] #97 closed

[2015-07-21 15:42] m4tthumphrey opened #99 "Add `two_factor_enabled` field to admin user API"

[2015-07-21 15:44] m4tthumphrey opened #100 "Allow users to be blocked and unblocked via the API"

[2015-07-21 15:45] m4tthumphrey opened #101 "Make namespace API available to all users"

[2015-07-28 11:17] m4tthumphrey commented on #100
Fixed by b01d8d6 and #102.

[2015-07-28 11:17] #100 closed

[2015-07-28 11:20] #99 closed

[2015-07-28 11:27] #101 closed

[2015-08-03 01:58] pitchandtone opened #103 "Create project not working: "name" not given returned"
[code]

From code:
[code]

[2015-08-03 10:26] m4tthumphrey commented on #103
Just had a scan through the code and the `name` param is definitely sent to Gitlab. so I'm wondering if `asd` is too short for a repo name...

[2015-08-06 14:16] saschame commented on #103
Same here. Tried with a longer repo name: `abcdefghijklm`

PHP `5.6.8 (cli)`
GitLab `7.13.3`
GitLab `API v3`

[code]

[2015-08-06 14:30] m4tthumphrey commented on #103
I've just run the same code as @pitchandtone..

`$newProject = \Gitlab\Model\Project::create($newGitlabClient, 'asd', array());`

and it created fine. But I am only on 7.12.2 so maybe something broke in 7.13?

[2015-08-06 15:29] saschame commented on #103
probably 7.13.

How can I test/help?

[2015-08-06 20:25] m4tthumphrey commented on #103
I'd suggest popping over to the [Gitlab project](https://github.com/gitlabhq/gitlabhq) and look around the issues and see anyone else has reported it... I'll be upgrading soon so I'll check it out.

[2015-08-12 09:01] saschame commented on #103
I couldn't find any related issues on the Gitlab project. Will wait for you to upgrade.
If it is indeed a problem with 7.13, you're in a better position to pose an informed question and raise an issue.

[2015-08-13 19:13] m4tthumphrey commented on #103
Just upgraded to 7.13.5 and it's still working fine. Can you maybe post some context of your app?

[2015-08-14 21:32] saschame commented on #103
Found it!

My GitLab server is setup to redirect `http` requests to `https` and I connected through the php-gitlab-api via `http`:

[code]

When using the php-gitlab-api to get projects or search, this redirection is working.
But when you send a `POST` request, to create a new user, the redirection seems to loose the data.

[2015-08-14 22:42] m4tthumphrey commented on #103
Ah right! Probably todo with [this issue](https://github.com/kriswallsmith/Buzz/issues/140)

[2015-09-02 15:20] wallish opened #105 "Create project with namespace_id doesnt work"
PHP `5.6.10 `
GitLab `7.12.2`
GitLab `API v3`

[code]

I get an errror : `"namespace" is not valid`.
Without the 'namespace_id' it work well.

[2015-09-04 13:10] m4tthumphrey commented on #105
Without looking into it more I have a feeling that you may need to pass the path as the `namespace_id`, not the actual integer ID. As per your example:

[code]

I may be wrong though...

[2015-09-06 08:54] wallish commented on #105
I solved my problem, my user (from the token) hasn't the rights for create a project in the group `mygroup`.
And yes we have to use the group id, like this :
[code]
I think we should display an appropriate error message when this problem is triggered

Thx for your help ;)

[2015-09-06 08:54] #105 closed

[2015-09-16 20:26] m4tthumphrey opened #106 "Add ability to manage user email addresses"

[2015-09-16 20:27] m4tthumphrey opened #107 "Add ability to get user information by ID of an SSH key"

[2015-09-16 20:27] m4tthumphrey opened #108 "Add service endpoint to retrieve service parameters"

[2015-09-16 20:28] m4tthumphrey opened #109 "Add project star and fork count, group avatar URL and user/group web URL attributes"

[2016-02-11 21:27] artkom911 opened #114 "SearchMergeRequestsByIid"
Please, add in class MergeRequests extends AbstractApi
public method like

public function getByIid($project_id, $mr_iid)
{
    return $this->get($this->getProjectPath($project_id, 'merge_requests'), array('iid' => $mr_iid));
}

[2016-02-12 14:00] m4tthumphrey commented on #114
Feel free to add it yourself! Try to add some tests with it too though!

[2016-02-12 20:17] artkom911 commented on #114
With pleasure! but I denied access to your repository.

[2016-02-12 20:34] Zeichen32 commented on #114
You can fork the repo and create a merge request. ;)

[2016-02-12 23:16] artkom911 commented on #114
I created a merge reguest https://github.com/m4tthumphrey/php-gitlab-api/pull/115, but there is an error when checking unrelated amended https://travis-ci.org/m4tthumphrey/php-gitlab-api/jobs/108891748. Checks on other versions of php successful https://travis-ci.org/m4tthumphrey/php-gitlab-api/builds/108891747. What are the next actions?

[2016-02-13 09:13] m4tthumphrey commented on #114
I'm not sure why but theres something happening with OpenSSL on the 5.3.3 builds, don't worry about it, I've merged it!

[2016-02-13 09:13] #114 closed

[2016-02-17 10:29] rtplvaibhav opened #117 "How to install it via downloaded zip in wamp server."
I have downloaded this api and extracted it in wamp server, but its not working. How to get it working on localhost wamp server.

[2016-02-17 11:30] m4tthumphrey commented on #117
What is not working? How far have you got?

[2016-02-17 11:43] rtplvaibhav commented on #117
Fatal error: Class 'Buzz\Client\Curl' not found in D:\wamp\www\gitlab\Gitlab\Client.php on line 78

This is the error, i am facing right now.

<?php
require_once(__DIR__ . '/Gitlab/Client.php');
$client = new \Gitlab\Client('http://git.yourdomain.com/api/v3/');
$client->authenticate('your_gitlab_token_here', \Gitlab\Client::AUTH_URL_TOKEN); // change here

$project = $client->api('projects')->crea

[2016-02-17 12:00] m4tthumphrey commented on #117
You will need Composer for this project to work. Checkout [this tutorial](http://codezag.com/how-to-install-composer-wamp/) on install Composer on WAMP.

Once installed, run `composer install` in the project root and include `vendor/autoload.php` instead of `require_once(DIR . '/Gitlab/Client.php');`

And you should be good to go.

[2016-02-22 05:23] rtplvaibhav commented on #117
Hi Matt,
I am now trying to install it via composer. Below is the error which i am facing right now.

D:\wamp\www\gitlab>composer install
You are running composer with xdebug enabled. This has a major impact on runtime
 performance. See https://getcomposer.org/xdebug
Loading composer repositories with package information
Installing dependencies (including require-dev)
Your requirements could not b

[2016-02-22 12:54] m4tthumphrey commented on #117
All you need in your `composer.json` file is

[code]

You will probably want to set a specific version based on your [Gitlab version](https://github.com/m4tthumphrey/php-gitlab-api#versioning).

[2016-02-23 05:31] rtplvaibhav commented on #117
Hi Matt,
Now i managed to get it installed.
But dont know how to use it. Below is my code

<?php
require_once '/vendor/autoload.php';

$client = new \Gitlab\Client('https://localhost/gitlab/api/v3/'); // change here
$client->authenticate('XYZ', \Gitlab\Client::AUTH_URL_TOKEN); // change here

#$project = $client->api('projects');
$project = $client;
echo '<pre>';print_r($project);
?>

 I have two

[2016-02-23 15:39] m4tthumphrey commented on #117
[The API Guide](http://doc.gitlab.com/ce/api/) should help you out.

[2016-02-23 15:39] #117 closed

[2016-02-23 18:55] heximcz opened #118 "Fatal error when create new over limt project"
Reproduce:
User X: Personal projects limit: = 1
Try create next new project.

[code]

[2016-05-03 10:03] larsemil opened #119 "Not possible to create issues"
I am trying to create issues, but its not possible.

Using this code:
`$client->api('issues')->create(220, ['title' => 'Test', 'description' => 'test']);`

If I var_dump the $params in AbstractApi post method i do get a return like this:
[code]
But still i get the response:
`Gitlab\Exception\ErrorException with message '400 (Bad request) "title" not given'`

[2016-05-03 15:57] m4tthumphrey commented on #119
What version of Gitlab are you running?

[2016-05-03 16:13] larsemil commented on #119
GitLab Community Edition 8.7.0 f2a3f70

[2016-05-04 08:42] m4tthumphrey commented on #119
Hmm. The latest version of Gitlab I have access to is still on 7.13.5. I've had a quick through the changelog and cant see anything of note that would cause this. Does other parts of the API still work? Also can you try performing a raw request to the create issues endpoint and see if you get the same response?

[2016-05-04 10:02] larsemil commented on #119
[](curl -k -X POST -H "PRIVATE-TOKEN: removed" https://gitlab.mydomain/api/v3/projects/220/issues?title=Testing_the_api)
Gives the response:
`{"id":1575,"iid":1,"project_id":220,"title":"Testing_the_api","description":null,"state":"opened","created_at":"2016-05-04T10:00:45.383Z","updated_at":"2016-05-04T10:00:45.383Z","labels":[],"milestone":null,"assignee":null,"author":{"name":"Emil Österlund","

[2016-05-04 10:18] m4tthumphrey commented on #119
Can you try the client with the same title as your example?

[2016-05-04 10:19] larsemil commented on #119
What do you mean?

[2016-05-04 10:25] m4tthumphrey commented on #119
I want to eliminate the title being "Test" as the issue.

[2016-05-04 10:26] larsemil commented on #119
Works with Test as title.
and test.

[2016-05-04 10:27] m4tthumphrey commented on #119
Via the client?

[2016-05-04 10:29] larsemil commented on #119
Actually that worked. :/
`GitLab::api('issues')->create(220, ['title' => 'This is a real title', 'description' => 'And a real description']);`

[2016-05-04 10:30] m4tthumphrey commented on #119
Yeh thought so... I think this has come up before. Seems a bit odd but looks like it is Gitlab treating it as a fail.

[2016-05-04 10:30] larsemil commented on #119
But now it works even if i put test as title. Well. Happy now. :)

[2016-05-04 10:30] #119 closed

[2016-05-04 10:33] m4tthumphrey commented on #119
How strange, glad it's sorted! :)

[2016-06-30 20:33] ndubbaka opened #127 "Missing support for build variables"
How to create & update variables using php-gitlab-api as provided by GitLab API?
http://doc.gitlab.com/ce/api/build_variables.html

[2016-07-01 12:24] m4tthumphrey commented on #127
There is no native support for any of the CI methods but you could just create your own wrapper or just use the [`HttpClient`](https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/HttpClient/HttpClient.php) class directly.

[code]

Feel free to submit a PR to provide this functionality if you wish 😄

[2016-07-13 20:02] chteuchteu commented on #103
Same issue here with the issues api:

    $client = new Client('http://gitlab.com/api/v3/');
    ...
    $client->api('issues')->create($project['id'], [
        'title' => 'Test',
        'description' => 'Test description'
    ]);

The code above will throw this error

Switching from `http://gitlab.com/api/v3/` to `https://gitlab.com/api/v3/` does the trick.
This is definitely a mishandled redir

[2016-07-14 08:57] m4tthumphrey commented on #103
@chteuchteu That Buzz issue is 3 years old so no we won't be relying on Buzz! Also there have been plans to move to Guzzle instead of Buzz so it will be a non-issue eventually.

[2016-07-14 08:57] #103 closed

[2016-07-25 23:40] benmag opened #132 "Releases zip out of sync with source"
Having a weird issue

It seems like the release zip is out of sync with the actual code base.

I don't mean no one has created a new release since the latest changes, I mean there were 30 or so commits in 7.3.0 and some more in 7.3.1 but those aren't in the release zips

For example

There's a new method `build` in the Project API that were included in the 7.3.0 release but when you download the 7

[2016-07-28 19:37] #127 closed

[2016-07-28 19:50] m4tthumphrey commented on #54
Wow, glad we didn't switch to Guzzle4 as Guzzle is now on 6.2!

[2016-08-03 22:51] lukepolo opened #135 "Add Deploy Key API Not working"
It seems the deploy key api function is broken

`
"title" can't be blank, "title" is too short (minimum is 0 characters), "key" can't be blank, "key" is too short (minimum is 0 characters), "key" is invalid, "fingerprint" has already been taken, "fingerprint" cannot be generated`

on latest version hitting http://gitlab.com

[2016-08-06 17:31] outofcontrol opened #136 "saveMember gives 'access_level' not given"
Perhaps the way I've done this is incorrect, when I issue this:

    $client->api('groups')->saveMember(1203, 12, 20);

I get ```400 (Bad request) &quot;access_level&quot; not given```

PUT from a rest client works fine:

    /api/v3/groups/1203/members/12?access_level=20&private_token=

No other errors.
PHP v7.0.6
Gitlab v8.6.6

[2016-08-06 18:35] outofcontrol commented on #136
Debugging more I discovered I inadvertently put http:// instead of https:// for my Gitlab server.

[2016-08-06 18:35] #136 closed

[2016-08-31 17:22] Stefangemfind opened #141 "Add archive/unarchive."
Hello!

Can you guys add the ability to archive/unarchive a project?
API information here: http://docs.gitlab.com/ee/api/projects.html#archive-a-project

Stefan.

[2016-09-01 10:36] radutopala commented on #141
@Stefangemfind done by @A-Lawrence in PR #142.

[2016-09-01 10:36] #141 closed

[2016-09-01 21:12] Stefangemfind commented on #141
Fantastic! Thank you very very much!

[2016-09-06 09:07] stephanvierkant commented on #119
I'm having the same problem while using Gitlab.com.

The raw request (mentioned above) works perfectly, but with the API client it doesn't.

[2016-09-08 14:45] m4tthumphrey commented on #119
@stephanvierkant Can you paste the code?

[2016-09-14 12:20] larsroettig opened #145 "Can not create Project in a Group"
I can not create a new Project in Group test.
[code]

[2016-09-15 08:09] m4tthumphrey commented on #145
There seems to be issues within Gitlab when using `test` as the title or name of a project or group. See also #119

[2016-09-15 08:09] #145 closed

[2016-09-22 10:33] radykal-com opened #148 "Projects search in Gitlab 8.11"
Hello,

I'm just trying to use this library to connect to our 8.11 Gitlab instance and found, for example, the projects search method is not working, it works if change the request from /projects/search/.... to /projects?search=... like it is in other ones.

I don't know if this change is needed for 8+ of Gitlab or it is just a bug also failing in previous versions.
If is a change required only fo

[2016-10-05 18:38] lukepolo commented on #135
#146
Most likely solved my issue thanks!

[2016-10-21 12:43] dariuskt opened #152 "Issues->remove() fails with Undefined variable: params"
Issues->remove() does not accept $params from caller but passes variable to AbstractApi->delete() method.
This results in:

[2016-10-21 14:47] #152 closed

[2016-10-24 06:43] dariuskt opened #154 "missing update() method in Groups"
looks like Groups::update() was not implemented. see PR #151

[2016-10-25 06:27] dariuskt commented on #154
closing as the PR was merged.

[2016-10-25 06:27] #154 closed

[2016-10-27 21:15] Santana1053 opened #156 "Project branch with permissions"
Gitlab API allows you to select who can push to protected branches.
https://docs.gitlab.com/ce/api/branches.html#protect-repository-branch
Please add this simple functionality asap.
![image](https://cloud.githubusercontent.com/assets/10775656/19785797/7f6c79ba-9c60-11e6-8070-34c118f12150.png)

[2016-10-28 11:27] #156 closed

[2016-12-05 02:26] lukepolo commented on #135
Had to write it manually, it seems it must accept it as json

[code]

[2016-12-07 01:18] snellingio opened #159 "Fix notice when getting Issue"
Looks like the API may have slightly changed.

My code:
[code]

Notice:
[code]

[2016-12-07 16:29] solcaj opened #160 "Simple Question concerning pagination of project members"
GitLab API per default defines 20 items `per_page` for the returned result. Now if a project has more than 20 members we have an issue with increasing the number of items to _max_ i.e. 100.

I tried different things since members can take an additional query but was not lucky so far.

The call
[code]
So the question is how to navigate with the pagination or how to increase the `per_page` value ?

[2016-12-08 16:42] m4tthumphrey commented on #160
Hey! We just need to add a few more arguments to the `members()` method.  Someone has [just started](https://github.com/psi-dev-group/php-gitlab-api/commit/524bf0d567e4a4754ede2a330bf5ee138642d07f) their own version of this so this gives you a rough idea of what needs to be done.

I'll get to it eventually.

[2016-12-08 17:09] solcaj commented on #160
Hey what a coincidence !!  this is exactly the patch I made for our fork.. We were not sure if to create a merge request was useful since not a lot of activities going on. our apologies and really glad you replied. Anyway waiting for the upcoming release ;-) and thanks for your work

[2016-12-08 17:09] #160 closed

[2016-12-14 04:42] jboilesen opened #161 "Missing License Information"
Hi @m4tthumphrey , how are you??

Hope you're doing fine. =)

I would love to use and contribute for this project but I am missing the license so I can align with my own projects.

Thnx!! =D

[2017-01-28 15:13] lukepolo opened #167 "Create key missing title , missing key"
When trying to create an ssh key im having this error

[code]

[code]

They are not empty, i checked. :-)

[2017-01-30 12:44] m4tthumphrey commented on #167
Are you using `test` as the title? Seems to be [weird outcomes](https://github.com/m4tthumphrey/php-gitlab-api/issues/119).

[2017-01-30 12:46] lukepolo commented on #167
Nope, I just did a request myself and seemed to work

[2017-01-30 13:33] m4tthumphrey commented on #167
So theres no issue?

[2017-01-30 14:54] lukepolo commented on #167
No i wrote it like :

[code]

Because it did not work through the package

[2017-01-30 17:07] m4tthumphrey commented on #167
I just did a quick test using the following

[code]

[2017-01-31 03:27] drupalninja opened #168 "createFile method not working"
Getting error:
{"error":"file_path is missing, branch_name is missing, commit_message is missing, content is missing"}

I am using syntax $project->createFile('file1', 'contents', 'master', 'file');

So far I have $project->getFile() working so I am not sure if this is a bug or like a permissions problem?

[2017-01-31 13:02] m4tthumphrey commented on #168
There is definitely something strange happening at the moment as we seem to getting a lot of reports todo with missing arguments when they are present. Are you using gitlab.com or self hosted?

[2017-01-31 14:22] drupalninja commented on #168
I am using gitlab.com, thanks for responding so quick! I have tried even using the post method to call the same thing more directly but I get the same errors. I have a suspicion that it's some kind of permission where I am not being allowed to push commits but then the error I am getting doesn't seem to indicate that at all.

$parameters = ['file_path' => 'app/project.rb', 'content' => 'contents',

[2017-01-31 14:23] m4tthumphrey commented on #168
That error message is coming directly from gitlab.com not from the client so I guess there is an issue with the error reporting within Gitlab?

[2017-01-31 14:24] drupalninja commented on #168
I am using the personal key not the oauth token if that matters. The examples here show the secret key being passed in.

https://docs.gitlab.com/ce/api/repository_files.html

[2017-01-31 14:25] drupalninja commented on #168
Re: "That error message is coming directly from gitlab.com not from the client so I guess there is an issue with the error reporting within Gitlab?" correct I keep trying to see if I am just doing something wrong with the syntax I am using but it seems to line up with the documentation.

[2017-01-31 14:25] drupalninja commented on #168
The error code is '400 Bad Request'

[2017-01-31 14:26] drupalninja commented on #168
If the commit fails for any reason we return a 400 error with a non-specific error message. Possible causes for a failed commit include:

the file_path contained /../ (attempted directory traversal);
the new file contents were identical to the current file contents, i.e. the user tried to make an empty commit;
the branch was updated by a Git push while the file edit was in progress.

[2017-01-31 14:29] drupalninja commented on #168
I am going to try postman in Chrome to see if I can get it to work there

[2017-01-31 14:33] m4tthumphrey commented on #168
This method isn't the only time we've seen problems with this sort of error. #167 #135

Although looking at #135 I wonder if it's because of the content type... I'll do some investigating, in the meantime when you try it in Postman can you use both JSON and encoded form as the content types and see what happens.

[2017-01-31 14:42] m4tthumphrey commented on #167
Just noticed the content type.. it could well be todo with later versions requiring JSON input on specific methods?

[2017-01-31 15:53] drupalninja commented on #168
<img width="732" alt="screen shot 2017-01-31 at 9 51 46 am" src="https://cloud.githubusercontent.com/assets/1112449/22472349/f2782cee-e79a-11e6-852b-60a590031163.png">

Using XHR POSTER I tried doing a POST with the Contnt type 'application/json' which now renders a blank 400 which is interesting. I am not sure my syntax is correct.

[2017-01-31 15:55] drupalninja commented on #168
Also if it matters I am using the '\Gitlab\Client::AUTH_URL_TOKEN' authentication method when using the PHP API

[2017-01-31 16:15] m4tthumphrey commented on #168
Hmm it could do, try the `AUTH_HTTP_TOKEN` method. Also your JSON isn't valid in that screen shot, the quotes should be `"` not `'`. Not sure if your client will auto convert but its worth making sure the JSON is valid.

[2017-01-31 16:18] drupalninja commented on #168
![screen shot 2017-01-31 at 10 17 57 am](https://cloud.githubusercontent.com/assets/1112449/22473443/8f0ab5ce-e79e-11e6-8203-3880c41a481a.png)

Awesome it looks like it worked after fixing a few things, that's progress

[2017-01-31 16:45] drupalninja commented on #168
Would it be wise to update the createFile method to submit parameters as json?

[2017-01-31 17:02] drupalninja commented on #168
I tried AUTH_HTTP_TOKEN but that didn't work - am I supposed to just pass the private key as the first parameter?

[2017-01-31 17:11] drupalninja commented on #168
Just for reference I did a normal PHP curl request bc I couldn't figure out how to hack the API to send as JSON. This did work so my thinking is that once the PHP API is updated to send params as JSON, it will work.

$parameters = ['file_path' => 'asdasdasd', 'content' => 'contents asdasd', 'branch_name'=> 'master', 'commit_message' => 'file', 'author_email' => 'author@example.com', 'author_name'

[2017-02-02 18:58] m4tthumphrey commented on #168
Someone must've changed in the Gitlab API code at some point for the regular input to be ignored now. I will do some tests and see if changing the content type to JSON across the board will have any other consequences.

[2017-02-15 22:04] glaubinix commented on #161
@jboilesen the license it set in the composer.json file.
https://github.com/m4tthumphrey/php-gitlab-api/blob/master/composer.json#L7

[2017-03-01 22:49] bdandoy opened #171 "Gitlab API v4"
https://about.gitlab.com/2017/02/22/gitlab-8-17-released/ With v4 in beta and set to be released on 3/22 is their any current plans on how to update this project to use the new api?

[2017-03-06 11:46] m4tthumphrey commented on #171
Hey @bdandoy!

I'll be honest and say that I was not aware of v4 until right now! There are no concrete "plans" so far but I will be looking into the changes between v3 and v4 personally today.

We are actually working on an internal tool based around Gitlab in my day job so I would imagine we would be revisiting this heavily in the coming months.

This is a great opportunity to look at a full rew

[2017-03-21 12:42] KoenRijpstra commented on #119
I got the error `title is missing` when using `http` instead of `https`

[2017-03-30 23:03] curry684 commented on #171
I just processed a similar upgrade in https://github.com/omines/oauth2-gitlab/issues/1, please keep in mind that current roadmap schedules v3 to be *removed* in Gitlab 9.4, due July 22nd.

[2017-04-02 19:44] fbourigault commented on #171
Consider moving to php-http/httplug instead of guzzle :)

[2017-04-03 16:18] m4tthumphrey commented on #171
@fbourigault why? What's the difference?

[2017-04-03 18:04] Nyholm commented on #171
The major difference is that HTTPlug is an abstraction and Guzzle is an implementation. If we go with an abstraction we let our users decide what HTTP client to use. One clear benefit from this is that users stuck with Guzzle5 can still use this library. Also, we do not have to bother when Guzzle bumps to version 7.

Some major projects that have chosen HTTPlug is KNPlabs github API and PHP Geocod

[2017-04-11 00:23] jwillp opened #176 "Issue API : Get Time Tracking (Time Stats) information"
Hello,
I was trying to get time stats of issues but I could not seem to find how to do it anywhere in the code.

Adding this to lib\Gitlab\Api\Issues.php does the trick:

[code]
Note: You need to specify the issue's iid, not the id.

I havent had the time to try something for the Model Class, so I will not make a pull request for the moment.

[2017-04-11 08:17] m4tthumphrey commented on #176
This is just something that hasn't been added to the wrapper. Would be great if you could have a go at adding it? 😄

[2017-04-18 07:35] fbourigault commented on #171
@m4tthumphrey I just found that #50 is already about using php-http/httplug. Are you still ok with that?

[2017-04-18 14:10] TheKvist commented on #176
As I found this a nice feature I thought I'd take care of it. Slightly renamed the proposed method name as the method rather gets the time stats than show it. I think I will add the other time tracking-related methods, too in the next time.

[2017-05-02 07:28] Jeroenvdvalk opened #186 "No option to search on a date"
I noticed the Gitlab API supports a since and until date to get commits. https://docs.gitlab.com/ce/api/commits.html

The function commits in Repositories.php does not support this.

[2017-05-09 10:26] lordao commented on #171
Is anyone still working on this? GitLab plans disabling v3 by version 9.3, which should come by June 22.

[2017-05-09 10:28] m4tthumphrey commented on #171
@lordao I cannot commit enough time to this migrating to v4. Anyone who feels like they would like to take it on just let me know and I can add you to the project.

[2017-05-09 12:05] fbourigault commented on #171
ping @m4tthumphrey

[2017-05-09 12:51] m4tthumphrey commented on #171
@fbourigault Yes I don't see why not. As long as Guzzle users can still use it, which if I understand correctly, they can with httplug

[2017-05-09 12:54] fbourigault commented on #171
Yes, httplug has an adapter for all popular http clients out into the wild!

[2017-05-26 10:00] bmicha opened #188 "Undefined Variable Error on remove Issue"
When call the remove function from Issue, there is an exception because of the use of a undefined variable $param.

[2017-05-26 10:03] #188 closed

[2017-05-31 15:40] curry684 commented on #171
Deprecation date updated @ https://docs.gitlab.com/ce/api/v3_to_v4.html:

@m4tthumphrey does this help you to update the package in time?

[2017-06-01 07:53] fbourigault commented on #171
I'm starting to work about replacing buzz with httplug. Should I keep the code BC?

[2017-06-01 08:55] curry684 commented on #171
It's going to be breaking anyway to switch to v4. I would recommend skipping to PHP 5.6 in one go anyway to follow PHP's own EOL policies @ http://php.net/supported-versions.php

[2017-06-01 19:54] gimler opened #189 "New Tag"
please create a new tag the last one is from 3 Oct 2016

[2017-06-05 13:58] m1guelpf commented on #189
@m4tthumphrey Any updates on this?

[2017-06-05 14:05] m1guelpf opened #192 "Request for collaborators"
Hi!
This project seems a little abandoned, looking at the commits after latest tag, pull requests open (and I mean **finished** pull requests) and number of issues open.
To @m4tthumphrey:
- Do you still mantain this?
- Who has push access?

If you are to busy to work on this, maybe you should assign some mantainers...

@m4tthumphrey edit:

If you wish to help maintain this project, please let me k

[2017-06-06 07:36] m4tthumphrey commented on #192
I do not have time to work on it at present but hope to get back on to it eventually. I have offered to assign more maintainers several times. It would seem no one has put their names forward recently.

[2017-06-06 07:37] m4tthumphrey commented on #189
What is the most recent version of Gitlab that the API currently works with?

[2017-06-06 07:41] #161 closed

[2017-06-06 07:43] m4tthumphrey commented on #192
cc @fbourigault @gimler @donkidd

[2017-06-06 07:49] fbourigault commented on #192
I can spent some time on this library. As you can see, I'm working on moving out of Buzz #191. After that I will work on v4 api compatibility (unless someone else does).

[2017-06-06 07:49] #189 closed

[2017-06-06 07:50] m4tthumphrey commented on #192
Thanks @fbourigault I have just invited you.

[2017-06-06 10:54] m1guelpf commented on #192
@m4tthumphrey I would also like to help, probably with issues, PR and maybe adding or reviewing endpoints, or adding missing docblocks :smile:

[2017-06-06 11:16] m1guelpf opened #194 "StyleCI"
Hi!
I see they aren't any CS Style fixers in this project.
May I recommend using StyleCI to have a consistent style on the project?
Thank you!

[2017-06-06 12:01] donkidd commented on #192
@m4tthumphrey  I'd be willing to help as well.  I was wanting to add some tests but hadn't gotten to it yet

[2017-06-06 12:36] fbourigault commented on #171
Does everyone agrees with:
- moving to httplug (#191)
- moving to PSR-4 (#55)
- using autoload-dev instead of https://github.com/m4tthumphrey/php-gitlab-api/blob/master/test/bootstrap.php
- support only PHP 5.6+

We also must create a new branch from the current master to keep a v3 compatible branch.

[2017-06-06 12:42] Nyholm commented on #171
Many libraries I work with are dropping php5.6 support when bumping to a major version. It may be something we also want to consider here.

👍

[2017-06-06 13:00] curry684 commented on #171
If 7+ features are not required or of true added value I wouldn't do it yet as 5.6 will still be supported for 1.5 year. Symfony 4 can make the break to 7.1 because they will still support 3.4 (5.3+ compatible!) until november 2020 (!).

So unless someone is willing to maintain the current branches for those stuck on PHP 5 for some time, which is far from unlikely in enterprise applications that w

[2017-06-07 10:20] fbourigault commented on #192
@m4tthumphrey thanks for the invitation. How do you mind my collaboration on this repository?

[2017-06-10 12:14] fbourigault commented on #55
In #195, I changed the autoload config to use PSR-4 instead of deprecated PSR-0. I don't think changing namespace is a good idea as it's an heavy breaking change with near to 0 added value. What do you think about closing this issue?

[2017-06-10 12:16] fbourigault commented on #54
I'm closing this issue as 9.0 will ne PHP 5.6+. See #195.

[2017-06-10 12:16] #54 closed

[2017-06-19 20:44] fbourigault commented on #132
Hello, is this issue still relevant?

[2017-06-20 10:24] benito103e opened #197 "Store unmapped data on models"
For example Model/Project doesn't contain property for permissions.
https://docs.gitlab.com/ce/api/projects.html#get-single-project

Is it possible, for missing properties, to store data on a specific array property.

On AbstractModel::setData()
[code]

It would be a fallback when the Gitlab API evolves faster than this client.

[2017-06-29 00:20] benmag commented on #132
I believe this issue fixed (itself?) with the recent releases

[2017-06-29 00:20] #132 closed

[2017-07-07 08:45] m4tthumphrey commented on #197
I think Models need to be refactored. Gitlab has envolved heavily since I started this project, some sort of magic getter/setter using dot notation might be better for Models.

[2017-07-07 12:06] fbourigault opened #200 "Move to V4 API."
Gitlab V3 api will be removed in 9.5 release (22th august).

From https://docs.gitlab.com/ce/api/v3_to_v4.html, I listed all breaking changes in the API. All those changes does not affect us but we have to double check!!!

So if anyone could look into the code and tell if we are affected or not, I would be happy to tick boxes. If we are affected, feel free to open PRs to fix it.

cc @m1guelpf

###

[2017-07-07 15:12] m4tthumphrey commented on #200
Wow! Thank you so much for taking this on! 🙇

[2017-07-07 18:37] m1guelpf commented on #192
ping @m4tthumprey again

[2017-07-10 20:34] m4tthumphrey commented on #192
Sorry for delay @m1guelpf, just sent you an invite! Thanks for getting involved!

[2017-07-10 20:43] fbourigault commented on #192
Do we need more contributors? We are now two active maintainers.

[2017-07-11 04:19] pklim101 opened #202 "how to use CI"
how to use CI

[2017-07-11 21:06] m4tthumphrey commented on #192
@fbourigault No probably not, we can close this!

[2017-07-11 21:06] #192 closed

[2017-07-17 12:26] Baclic opened #204 "The server does not see the parameters passed in the request body"
Hello. I create a project on symfony 3, and I send requests to gitlab using your api.
Parameters that are passed in the URL are processed correctly, but the parameters that I send in the body (post and put requests) are not processed by the server - it does not see them.
To send requests, I use the standard api methods.

For example, here is the api method:
[code]

If I pass the correct values ​​$

[2017-07-17 12:30] fbourigault commented on #204
Maybe something was broken in #191. I will give it a look.

[2017-07-18 11:41] fbourigault commented on #200
As this list may be hard to user, I think we should do a PR per gitlab merge request which introduced the change.

You can find changes for https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/8936 in #205.

[2017-07-18 11:43] fbourigault commented on #204
The master branch is now using the V4 gitlab api but is not all endpoints have been updated, so it may appear broken.

Code update related to this issue are available in #205.

You can also follow the V4 api compatibility progress in #200.

[2017-07-18 11:43] #204 closed

[2017-07-18 11:45] fbourigault commented on #200
We are not affected by https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/9328 changes.

[2017-07-19 06:53] AntoninSlejska opened #209 "How to post more files?"
I use the following method for posting more files to Gitlab: https://github.com/AntoninSlejska/php-gitlab-api/blob/8.0.1/lib/Gitlab/Api/Repositories.php#L369
The array $actions contains one or more objects: https://github.com/AntoninSlejska/php-gitlab-api/blob/8.0/docs/actions-array.txt

Is it possible to use for posting of more files some of the existing methods?

[2017-07-19 07:41] fbourigault commented on #209
Not yet. There is an [existing pull request](https://github.com/m4tthumphrey/php-gitlab-api/pull/158) but it has to be rebased.

[2017-07-19 07:55] AntoninSlejska commented on #209
Thanks @fbourigault
Is there any chance, that the pull request will be rebased and accepted in the near future?

[2017-07-19 08:03] fbourigault commented on #209
I just notified the PR author about required rebase. As changes required are important (related to [HTTPlug](http://httplug.io/), feel free to open an other PR. I will be happy to review it!

[2017-07-19 08:39] AntoninSlejska commented on #209
If the author will not react, then I try to open other PR. Thanks.

[2017-07-19 20:36] fbourigault commented on #200
I'm working on changes affecting the `GET /projects` endpoint. Do we agree using the Symfony OptionsResolver component to handle nicely [all available options](https://docs.gitlab.com/ee/api/projects.html#list-projects)?

This will enable strong input validation and will help to keep code clean (i.e. avoid [code like this](https://github.com/m4tthumphrey/php-gitlab-api/blob/6cc26a0f59785f5a81f85ec

[2017-07-19 20:37] m1guelpf commented on #200
@fbourigault :+1:

[2017-07-19 21:32] fbourigault commented on #200
You can have a look of how the code is when using `OptionsResolver`: https://github.com/m4tthumphrey/php-gitlab-api/compare/master...fbourigault:options-resolver

[2017-07-19 21:33] m1guelpf commented on #200
@fbourigault Cleaner. I like it.

[2017-07-20 07:46] fbourigault commented on #200
Some people suggested me to not using the `$definition` array as it looks like a code offuscation. I updated the diff and it looks better to me.

[2017-07-20 14:31] fbourigault commented on #200
You can find changes for for [!8962](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/8962), [!8877](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/8877) and [9674](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/9674) in #213.

[2017-07-25 14:09] Baclic opened #219 "a typo"
a typo in the file

in method "show", (91):

Now :

Need:

[2017-07-25 14:15] Baclic opened #220 "The server does not see the parameters passed in the request body (Updated)"
Hello.
Week ago i create ticket

Now, in last version, POST-request has been fixed, but PUT-request still don't see the variables passed in the body (for exampe, i can't change password from user), as before

[2017-07-25 15:55] m1guelpf commented on #219
@Baclic This is intentional, we are migrating to the v4 API. See #200.

[2017-07-25 15:55] #219 closed

[2017-07-25 21:05] fbourigault commented on #220
Hello, thank you for reporting this issue. Could you test with https://github.com/fbourigault/php-gitlab-api/tree/issue-220?

[2017-08-01 10:44] fbourigault commented on #200
Everything have been merged.

I will release a beta by the end of this week. From 5th to 12th, I will be offline.
Then I hope enough people will have test this first beta and if there are regressions, a 2nd beta could be released around the 17th. Then I plan to release a RC around the 21th and a stable by the end of the month.

Because of the really short delay until https://gitlab.com v3 API get

[2017-08-01 10:44] #200 closed

[2017-08-01 10:45] fbourigault commented on #171
V4 API support is now in master. See https://github.com/m4tthumphrey/php-gitlab-api/issues/200#issuecomment-319335801 for a probable release planning.

[2017-08-01 10:45] #171 closed

[2017-08-01 10:49] fbourigault commented on #202
Could you give us more details about what you want to achieve?

[2017-08-01 17:15] fbourigault commented on #176
Fixed by #178.

[2017-08-01 17:15] #176 closed

[2017-08-01 17:16] fbourigault commented on #194
Ping @m4tthumphrey!

[2017-08-01 22:38] fbourigault commented on #197
I have in mind to refactor models by generating them usign https://github.com/janephp/jane. Our main job would be to write JSON Schema files describing Gitlab models.

An advantage to this is if https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/2397 succeed, we will be able to switch to their description of entities and even go further by generating the whole library code using https://github

[2017-08-02 08:13] m4tthumphrey commented on #194
By all means!

[2017-08-02 08:35] fbourigault commented on #194
Could you enable it?

[2017-08-02 08:56] benito103e commented on #197
@fbourigault this is a good way of approaching the problem.

[2017-08-02 09:35] m4tthumphrey commented on #194
What do I need todo?

[2017-08-02 10:33] fbourigault commented on #194
First, you can go on https://styleci.io, login with your Github account, clic on your username on the top right corner, go in the repo tab and hit the enable styleci button for this repository.

Then IIRC, we will be able to configure styleci using a file in this repository. You can also disable email notifications if you don't want to get annoyed with failing analysis!

[2017-08-02 11:25] m4tthumphrey commented on #194
[![StyleCI](https://styleci.io/repos/6816335/shield?branch=master)](https://styleci.io/repos/6816335)

[code]

If you need any settings changed let me know.

[2017-08-02 11:48] fbourigault commented on #194
Thank you! IIRC, all config can be done using a `.styleci.yml` file.

[2017-08-02 11:57] fbourigault commented on #194
Before applying fixes to get the build green, which preset should we apply?
Here is the list: https://styleci.readme.io/docs/presets

I used to use the `symfony` preset with the `short_array_syntax` fixer.

[2017-08-02 14:24] m4tthumphrey commented on #194
I dont mind which preset, whatever the general consensus is! If it's just a file within the repo that needs to be added, feel free to do so!

[2017-08-03 08:21] fbourigault commented on #194
I will use the psr-2 preset as it's the php-fig standard.

[2017-08-03 08:34] #194 closed

[2017-08-03 09:18] #220 closed

[2017-08-03 12:51] #186 closed

[2017-08-06 16:52] Nyholm commented on #209
It seams like you can open a PR. =)

[2017-08-06 16:53] Nyholm commented on #55
:+1: for closing.

[2017-08-06 16:55] Nyholm commented on #135
Do you have the same issue with late latest beta version?

[2017-08-06 17:56] #55 closed

[2017-08-06 18:07] AntoninSlejska commented on #209
OK. I have to finish a project at first. Then I will open the PR.

[2017-08-08 14:30] lukepolo commented on #135
Yup seems to be working

[2017-08-08 14:30] #135 closed

[2017-08-08 15:44] cobak78 opened #228 "Add comment on issue crashes with a 404"
Hi,

thanks for your job on this library.
I'm trying to create some notes on an issue related to an internal CI. But the gitlab api returns a 404 error cause in Issue Model you use _:id_ instead _:iid_
https://docs.gitlab.com/ee/api/notes.html#create-new-issue-note

I'will create a PR to resolve this issue.

Regards

[2017-08-09 10:15] #228 closed

[2017-08-15 14:47] AntoninSlejska commented on #209
I try to send the following POST request to Gitlab:

[code]

See: https://docs.gitlab.com/ce/api/commits.html#create-a-commit-with-multiple-files-and-actions

I suppose the method 'actions' should look like this:

    /**
     * @param int $project_id
     * @param array $actions
     * @param string $branch
     * @param string $commit_message
     * @param string $encoding
     * @return mixed

[2017-08-16 13:55] fbourigault commented on #148
Hello, this is solved since [9.0.0-beta2](https://github.com/m4tthumphrey/php-gitlab-api/releases/tag/9.0.0-beta2) is out. This require to have at least Gitlab 9.0, but I hope you are up to date :)

[2017-08-16 13:55] #148 closed

[2017-08-18 20:12] #209 closed

[2017-08-28 09:09] heximcz opened #239 "updateFile not working"
HI,

I have a problem with migrate from v3 to v4.
updateFile get error:
[code]

Same error for createFile method.

Code:
[code]
Create new project, getFile working fine.

I use:

[code]

[2017-08-28 09:20] fbourigault commented on #239
Thank you for reporting this bug. The `Gitlab\Api\Repositories` `createFile`, `updateFile` and `deleteFile` methods have not been updated for V4 API.

Feel free to open a PR for fixing those methods.

[2017-09-05 20:36] heximcz commented on #239
Ok I have a solution:

**./Model/Project.php**
- createFile and updateFile - add parameter $encoding
- $author_email and $author_name can't be null in url

**./Api/Repositories.php**
- createFile and updateFile add : (Url encoded full path to new file. Ex. lib%2Fclass%2Erb)
[code]
- delete 'file_path' => $file_path from array
- check if author and email is not null
- check if encoding is base64 (i

[2017-09-06 11:22] fbourigault commented on #239
Could you test if #241 solve this issue?

[2017-09-06 11:28] fbourigault commented on #168
Could you test if this issue is solved by #241?

[2017-09-06 11:36] fbourigault commented on #167
I tried this with 9.1.0 and it's working fine on gitlab.com.
Feel free to re-open this issue if issue is still valid for you.
Regards

[2017-09-06 11:36] #167 closed

[2017-09-06 12:54] heximcz commented on #239
Solved. I tested create and update file.

[2017-09-06 13:25] #239 closed

[2017-09-06 13:30] fbourigault commented on #239
I just published 9.2.0 which include #241 changes.

[2017-09-06 18:39] heximcz commented on #239
Thank you. But can you fixed getFile in ./Model/Project.php too ? Fix please names of parameters and call you new method repositoryFiles()->getFile....

[2017-09-06 21:58] fbourigault commented on #239
Parameters are the same for backward compatibility but the new code is used instead.

[2017-09-07 20:35] KyleWiering opened #242 "Gitlab/Model/MergeRequest methods fails on incorrect id usage"
Attempting to use the methods within the model fail as the model is using the mergeRequest's id, not the iid.

[2017-09-08 13:51] KyleWiering commented on #242
Re-opened to address one instance I missed on the previous pull request.

[2017-09-11 13:43] #242 closed

[2017-09-11 15:32] m1guelpf opened #246 "Following SemVer"
Just as a suggestion, how about following SemVer from now?

[2017-09-11 19:50] fbourigault commented on #246
That's already what I am doing :)

[2017-09-11 20:00] m1guelpf commented on #246
@fbourigault SemVer states you should release on every change. As far as I know, we are not doing that.

[2017-09-11 21:37] fbourigault commented on #246
I don't think semver is about when to release. It's just about major/minor/bugfix. I think I'm releasing quite often and if it's not enough, I'm tagging releases on-demand!

[2017-09-11 21:39] m1guelpf commented on #246
Yeah, you're right. Closing this.

[2017-09-11 21:39] #246 closed

[2017-09-19 21:57] c33s opened #252 "Define Coding Standard in the Readme"
just a suggestion:

maybe it would be a good idea to expose the coding standard of this project in the `README.md`.

of course keen eyes can find it in the `.styleci.yml` but also writing it down in the `README.md` and maybe add some info about how to check it offline would be an improvement.

offline check
[code]

adding a local config file for the cs fixer would also be possible

`.php_cs.dist`

[2017-09-20 06:01] m1guelpf commented on #252
@c33s In my opinion, the developers don't actually need to submit Pull Request in the same code style as the repo, as StyleCI can get that autofixed for us, so I don't believe this is neccesary. @m4tthumphrey What do you think?

[2017-09-20 06:52] 20uf commented on #252
I find that the proposal @c33s is interesting, seeing an interest of a pre-commit that verifies that the rules of style are respected before push.

The interest is that developers know style code to apply and to avoid making changes in a second time, this can be avoided simply as well.

[2017-09-20 08:08] m1guelpf commented on #252
@20uf As I said before, there's no need to make any code style changes, as StyleCI should auto-solve the issues if there are any on the master branch.

[2017-09-20 13:23] c33s commented on #252
@m1guelpf it is just a help for the interested developer. so he or she can learn the new coding style.

[2017-09-20 14:38] fbourigault commented on #252
I'm for adding a note into the `README.md` but not for adding a `.phpcs.dist` file to the repository. This is just to help developers and not used in any ci task.

[2017-09-21 08:44] phsteffen opened #254 "Problem with updating an issue"
Hi Folks,

i found a little Bug in the issue-upate-function:

https://github.com/m4tthumphrey/php-gitlab-api/blob/70aeb9f412f8dc184dbd91afd75058ab8702746e/lib/Gitlab/Model/Issue.php#L94

To Update the issue the gitlab-api needs the `iid` and not the `id` of the issue.
[Link to the api-doc](https://docs.gitlab.com/ee/api/issues.html#edit-issue)

I think it should be:
`$data = $this->client->issues(

[2017-09-21 09:14] phsteffen commented on #254
Same thing here:

https://github.com/m4tthumphrey/php-gitlab-api/blob/70aeb9f412f8dc184dbd91afd75058ab8702746e/lib/Gitlab/Model/Issue.php#L83

I think this should be work:

`$data = $this->client->issues()->show($this->project->id, $this->iid);`

[2017-09-21 10:09] m1guelpf commented on #254
@phsteffen Can you open a PR?

[2017-09-21 11:07] phsteffen commented on #254
@m1guelpf PR is open: https://github.com/m4tthumphrey/php-gitlab-api/pull/255
Thx.

[2017-09-21 12:47] #254 closed

[2017-09-23 21:45] soullivaneuh opened #256 "List user's projects"
I don't see anything in this SDK to call this API resource: https://docs.gitlab.com/ee/api/projects.html#list-user-projects

Am I right?

[2017-09-24 21:51] fbourigault commented on #256
It's not yet implemented. Feel free to open a PR to add it.

[2017-09-26 17:37] dozer55 opened #258 "Trouble passing state parameter"
Passing a state parameter of closed, but receiving complete list instead of filtered list. Here's what I'm doing:

`$project = $client->api('issues')->show($projectid, array(
    'state' => 'closed',
  ));`

[2017-10-02 15:32] willemo opened #259 "Project members result empty when username_query is not supplied"
When I try to get the project's members from the API, without supplying a `username_query` (I want to get all members), the result from the client is empty. When I call the URL (`https://gitlab.com/api/v4/projects/[projectID]/members`) manually, I get all members. When I do supply a `username_query` I do get the users that comply to that query.

So something seems to be not working correctly.

Cod

[2017-10-02 15:52] m1guelpf commented on #259
@willemo Is getting all members using that endpoint ducumented anywhere?

[2017-10-02 20:06] willemo commented on #259
@m1guelpf not that I know of. Is there another (documented) way of getting a project's members?

[2017-10-03 05:53] m1guelpf commented on #259
@willemo The query parameter is marked as optional in the documentation...
[Somewhat related](https://gitlab.com/gitlab-org/gitlab-ce/issues/18672)?

[2017-10-03 05:58] fbourigault commented on #259
https://github.com/m4tthumphrey/php-gitlab-api/blob/e37b78f2f0985cb2323adedc94d36a4f76ac2768/lib/Gitlab/Api/Projects.php#L241-L251 must be updated to use the `OptionsResolver` like in `Gitlab\Api\Projects::all()`.

[2017-10-03 13:09] GMTA opened #260 "PHP's XML extension required for Authentication"
There's no dependency on ext-xml in composer.json although \Gitlab\HttpClient\Plugin\Authentication requires it for the global function utf8_encode() to be available. I'd suggest adding the dependency or using something else than utf8_encode().

[2017-10-03 13:46] m1guelpf commented on #260
@GMTA Could you send a PR?

[2017-10-03 22:11] #260 closed

[2017-10-04 09:10] willemo commented on #259
@m1guelpf I don't think that issue is related.

Is there any other way for me to fetch the project's members?

[2017-10-04 11:56] willemo commented on #259
Using the model-method (`$project->members()`) doesn't work either, sadly.

[2017-10-04 13:28] fbourigault commented on #259
The `Gitlab\Api\Projects::getMembers` methods is buggy. When `$username_query` is not set, the `query` parameter must not be sent. That's why we used elsewhere the `OptionResolver` to keep parameters logic dry.
Feel free to send a PR. I would be happy to review it!

[2017-10-04 20:44] piegus opened #262 "Merge Request created_after not valid."
[code]

Apparenty setNOrmalizer i MegreRequest is throwing flatal error With Option Resolver.
Changing from:

`        $datetimeNormalizer = function (\DateTimeInterface $value) {
            return $value->format('c');
        };`
to:
`
        $datetimeNormalizer = function (Options $options, $value) {
            return $value->format('c');
        };` seems to fix the issue.

https://symfony.c

[2017-10-04 21:53] vetruvet opened #263 "Branches containing a slash break v4 branch endpoints"
The encoding of branch names in API v4 has changed from unencoded slashes to encoded as "%2f". As such, getting branch information for a branch like "env/production" is broken in the latest version.

Ironically this means #86 basically needs to be reverted.

Removing the `str_replace` call in [Repositories](https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/Api/Repositories.php#

[2017-10-07 17:07] Soullivaneuh opened #264 "Add deploy key can_push option missing"
Currently, it's not possible to add the `can_push` option: https://github.com/m4tthumphrey/php-gitlab-api/blob/395f25d45246316f89feeebb471c70244df9e710/lib/Gitlab/Model/Project.php#L335-L340

Ref: https://docs.gitlab.com/ce/api/deploy_keys.html#add-deploy-key

[2017-10-08 11:57] #264 closed

[2017-10-11 05:58] jinchun commented on #160
It hasn't been fixed yet.

[2017-11-11 11:44] brandon-welsch opened #271 "Requirement not found"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - m4tthumphrey/php-gitlab-api 9.5.0 requires php-http/client-implementation ^1.0 -> no matching package found.
    - m4tthumphrey/php-gitlab-api 9.4.0 requires php-http/client-implementation ^1.0 -> no matching package found.
    - m4tthumphrey/php-gitlab-api 9.3.0 requires php-http/client-implementation ^1

[2017-11-13 12:53] fbourigault commented on #271
As this library is decoupled from any http client implementation, you have to choose one. You can read the [installation](https://github.com/m4tthumphrey/php-gitlab-api#installation) paragraph of the readme to help you choosing an implementation.

[2017-11-13 12:53] #271 closed

[2017-11-13 12:54] fbourigault commented on #263
Could you open a PR to fix this? If we find other places later we will do more fixes.

[2017-11-29 13:06] #263 closed

[2017-12-05 13:02] Soullivaneuh commented on #256
@fbourigault Why closing this issue in that case?

[2017-12-05 13:04] fbourigault commented on #256
That's a good question!

[2018-01-03 10:41] hason opened #283 "Credential-based login is broken after removal of /session endpoint (GL>=10.2.0)"
It should be used [access token](https://docs.gitlab.com/ce/api/oauth2.html#access-gitlab-api-with-access-token).

[2018-01-19 16:12] m4tthumphrey commented on #2
Test comment

[2018-02-01 10:18] svolence opened #291 "function getProjectPath($id, $path)"
https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/Api/AbstractApi.php#L160

Fork project
Forks a project into the user namespace of the authenticated user.

POST /projects/fork/:id

10.98.41.62 - - [01/Feb/2018:17:55:24 +0800] "_**POST /api/v4/projects/71342/fork**_?private_token=6zhn7WZyysF6toeqf4V9 HTTP/1.1" 500 39 "-" "php-gitlab-api (http://github.com/m4tthumphrey/php-gitla

[2018-02-09 23:48] mirkoschmidt opened #294 "visibility param for snippet creating is missing"
https://github.com/m4tthumphrey/php-gitlab-api/pull/96
This pull request is important for creating snippets.

Edit: I have create a new pull request #296

[2018-02-10 23:17] smalot opened #295 "Dependency no more available: php-http/client-implementation"
The `php-http/client-implementation` is no more available, so the library can't be installed.

Any solution ?

Thanks for all

[2018-02-11 08:18] m1guelpf commented on #295
@fbourigault Any ideas?

[2018-02-11 09:17] fbourigault commented on #295
The pho-http/client-implementation is a virtual package. You have to install a client or an adapter which provide the implementation. You can read the installation section of this repository readme.

[2018-02-11 09:24] #295 closed

[2018-02-11 09:51] smalot commented on #295
Thanks !

[2018-02-11 09:52] smalot commented on #295
I suppose Guzzle can do the job ?

[2018-02-25 12:10] #262 closed

[2018-03-19 21:10] GrahamCampbell opened #298 "Consider adding Gitlab\Exception\ExceptionInterface"
How would you feel about me sending a PR to add this empty interface for the package exceptions to implement?

[2018-03-20 17:25] m4tthumphrey commented on #298
I don't see that being a problem @GrahamCampbell, if anything it can only help!

[2018-03-21 21:08] bennetgallein opened #301 "Add Documentation"
I can't get anything working, because I don't get how this is working. Nothing works for me, really nothing. I would really appreciate if there would be more documentation..
Best Regards

[2018-03-22 07:04] #298 closed

[2018-03-27 12:45] Nyoroon opened #307 "Add support for Pipeline Triggers API"
https://docs.gitlab.com/ce/api/pipeline_triggers.html

[2018-04-03 08:30] frankvanrest opened #308 "kriswallsmith/buzz 0.17 not compatible with 8.0"
We get the error:

[code]

We solved it by adding 0.16.1 explicitly to our composer.json:

[code]

[2018-04-23 09:09] NathBerbezier opened #312 "Problem while updating, closing and opening an issue"
When I run
`$project->closeIssue(1,"this is the end");`
or
`$project->updateIssue(1,array('description'=>'describe the issue'));`
or
`$project->openIssue(1);`
All I get is
`404 Not Found`

Those three methods create an instance of Issue before using the class methods on this instance
I belive the problem is in the Issue constructor `Gitlab\Model\Issue`
When changing the line about id's in the Issu

[2018-04-24 07:46] #312 closed

[2018-04-24 10:21] tom-sapletta-com opened #315 "Not possible to set version API v3 for gitlab"
Should be possible to set the Path for version 3,4,5..

[2018-04-24 17:13] fusiondesign opened #316 "SSL Seems overly complicated and broken."
The following is from a Laravel project. For the life of me, I cannot get SSL working unless I bypass this wrapper and use Guzzle directly by accessing getHttpClient() from the Gitlab\Client scope.

I've traced every line of code due to the lack of documentation and I've managed to hunt down every class that I need to make this possible. I cannot find where the error is inside the code, but there

[2018-04-24 19:08] GrahamCampbell commented on #316
Are you sure the 2nd example isn't just calling the wrong address?

Try this:

[code]

[2018-04-24 19:12] fusiondesign commented on #316
You are my hero!!!!

[2018-04-26 07:26] iltar commented on #308
Ran into this issue as well. According to semver, the `0.*` releases can contain BC breaks, which sadly broke my application. I think the `kriswallsmith/buzz` dependency should be tighter.

[2018-05-01 23:26] ijks opened #319 "Document that Issues::all() does not in fact return all issues due to pagination"
The GitLab API normally limits the list of issues to 100 entries per request, with a default of 20. This means that `Issues::all()` and `Project::issues()` by extension only return the first 20 issues of a project by default, which is surprising given their respective names. It'd be nice if the docs stated this fact, and provided a workaround.

I'd be willing to write a PR for this.

[2018-05-06 12:03] fezfez commented on #316
@fusiondesign issue can be close ?

[2018-05-06 20:19] #316 closed

[2018-05-15 05:54] ericfri opened #323 "Getting Todos"
I was wondering if there is any way to get the list of Todos similar to issues?

[2018-05-15 06:49] #323 closed

[2018-05-16 11:52] fr0z3nfyr opened #324 "How to use `Model\Label()` to get the color and name of label"
I'm using the latest `master` to talk to my GitLab 10.7.3 (works on API v4).

My project has issues that are labelled. I understand from GitLab API docs that the `comments`/`notes` API tells whether a note is a user posted comment or a system message like `added ~25 label`. `~25 label` on my project is `UI/UX Enhancement`. I get the list of labels when I call the API to `show()` issue, but that is

[2018-05-19 18:15] andersruneson commented on #319
Is there a work around for fetching more then 20 right now? I think I have the same problem fetching more projects with this code:
`
$pager = new \Gitlab\ResultPager($client);
$projects = $pager->fetchall($client->api('projects'),'all',[[]]);
`

@fr0z3nfyr  How?

[2018-05-21 14:00] stas17 opened #326 "fix build query"
we get `500 Internal Server Error`
if not set not required params

for example
[code]
this function are building this `source_branch=foo&target_branch=barr&title=for_example&assignee_id=&target_project_id=&description='`
query without nullable fields

[2018-05-29 05:52] lifeofguenter opened #328 "Throw errors"
I can run the example code:

[code]

and it will not throw any error...

[2018-05-29 05:58] tobiasetter commented on #259
this issue has already been fixed by #281
@willemo please close the issue. thanks =)

[2018-05-29 06:01] tobiasetter commented on #315
please take a look at #314

[2018-05-29 06:02] #259 closed

[2018-06-11 07:54] ShawnMcCool commented on #301
It's difficult to understand because it relies on strings in strange ways.

[2018-06-14 06:05] woodylan opened #330 "Session API had removed in 10.2.0 ,and support impersonation token"
Session API had removed in 10.2.0 ,and support impersonation token，but php-gitlab-api do not support impersonation token。

https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md#1020-2017-11-22
https://docs.gitlab.com/ce/api/users.html#create-an-impersonation-token

[2018-06-18 05:55] fr0z3nfyr commented on #319
@andersruneson this particular issue is about fetching list of issues on a project. Your code sample suggests you are trying to fetch list of projects.

Refer to the official docs [here](https://docs.gitlab.com/ce/api/projects.html#list-all-projects) which nowhere suggests that the list of projects will be limited to 20. Also, from the docs:

Are you sure your authenticated user has access to more

[2018-06-27 13:50] oemunoz opened #335 "Add Support for Wiki"
Is planned some support for the wiki pages?

[https://docs.gitlab.com/ee/api/wikis.html](https://docs.gitlab.com/ee/api/wikis.html)

Tnks!!!

[2018-07-20 15:55] orediggerco opened #339 "Support for Runners API"
It looks like the Runners API is not supported yet (https://docs.gitlab.com/ee/api/runners.html). Are there any plans to add this/any missing APIs, or open for a PR to add it?

[2018-07-20 16:33] andersruneson commented on #319
@fr0z3nfyr Right, I'm trying to fetch projects and thought it was related. I get exactly 40 projects for the above code. The user can access all projects. If I create a new project, that project is listed but the total is still 40 since another project did not list anymore.

[2018-07-21 12:10] m1guelpf commented on #339
@orediggerco Would be awesome if you could PR this 😄

[2018-08-05 23:15] noplanman opened #344 "Get project by username and repository name"
I must be missing something simple here, but how can I just search for a project ID when I know the user and repository name?

I've tried using the `search` parameter, but it's not finding it.
Is there a specific syntax to search with?

What I've tried:
[code]

Basically, I want to be able to pass the GitLab instance URL, username, repository name, and get the project info.

[2018-08-28 08:29] #106 closed

[2018-08-29 17:05] Maxooo opened #347 "Add support for discussions API"
It seems that the `discussions` API is not supported yet (https://docs.gitlab.com/ce/api/discussions.html). Are there any plans to add this API or should I create a PR for this ?

Thank you for the time spent and the support given for this library.

[2018-09-10 17:11] mbraun81 opened #350 "[question] Self-signed certificate"
If i try to connect to my gitlab host i get an PHP Fatal error:

How can i set the $options['verify'] to false in the httpClient to use my self-signed cert?

[2018-10-09 21:56] marcelovani opened #359 "Invalid encoding type 'test'"
I think this is a typo
https://github.com/marcelovani/php-gitlab-api/blob/master/lib/Gitlab/Api/Repositories.php#L240
It probably should be 'text'

[2018-10-10 13:33] abayob opened #361 "Only 20 results are returned"
Hello,

First of all, great library, very detailed and easy to use.

I was wondering, is there a way to return more than 20 results using this API?

[code]

This sadly returns only 20 tags, I want to return more than 20 if possible.

The only way I know how, using your library, is manually adding the following in the `Tags` class:

[code]

Of course, I would not like to manually add anything, beca

[2018-10-17 08:55] DenTray opened #362 "Can't install plugin"
Installations requires php-http/client-implementation package, which not exists

[2018-10-19 20:13] m1guelpf commented on #362
You need `php-http/guzzle6-adapter` as specified in the readme

[2018-10-19 20:13] #362 closed

[2018-10-21 20:57] cniry opened #364 "Missing Release support"
Hello,
I really miss methods for create/update releases: https://docs.gitlab.com/ee/api/tags.html#create-a-new-release

PR here: https://github.com/m4tthumphrey/php-gitlab-api/pull/365

[2018-10-22 15:37] #364 closed

[2018-10-26 13:02] cebe commented on #361
it is explained in the readme: https://github.com/m4tthumphrey/php-gitlab-api#example-with-pager

[2018-11-05 15:19] geerlingguy opened #374 "Possible to set 'Visibility Level' for a Group?"
When I create a Group in GitLab:

[code]

It is created with the default Visibility Level "Private". If I want to create it with Visibility Level "Internal" or "Public", is that currently possible?

Groups API: https://docs.gitlab.com/ee/api/groups.html#new-group

|Parameter|Type|Required|Description|
|---|---|---|---|
|`visibility`|string|no|The group’s visibility. Can be `private`, `internal`, o

[2018-11-06 12:47] bmalex88 opened #375 "Get tag's message or release notes"
It doesn't look like this wrapper supports getting these properties of a tag. I can only get the name or the commit but not the message or the release notes.

Is this so or am I missing something?

[2018-11-09 12:49] otrelin commented on #347
Also interested in this question - are you planning to add Discussions API?

[2018-11-10 08:04] #375 closed

[2018-11-16 10:03] GMTA opened #377 "Add support for retrieving inherited group/project members"
I don't think there is a way to retrieve the inherited group or project members through the API or models. I'm talking about these paths:

[code]

These return the inherited (flattened) member list instead of the directly assigned members.

[2018-11-16 10:48] m1guelpf commented on #377
Feel free to make a PR!

[2018-11-16 11:37] GMTA commented on #377
@m1guelpf I'm not sure how you would like to see the API for that. New methods called `membersAll` or `allMembers`? Add options to `members`?

[2018-11-19 12:46] otrelin commented on #347
@m1guelpf I've already done https://github.com/m4tthumphrey/php-gitlab-api/pull/378
When will be the new release with these changes?

I also suggest in `lib/Gitlab/Api/Issues.php` add methods `showNotes()`, `showNote()` etc. instead of `showComments()`, `showComment()` etc. respectively (as [here](https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/Api/MergeRequests.php#L198)). O

[2018-11-20 00:50] m1guelpf commented on #347
@Maxooo Just released a new version 🎉

[2018-11-20 19:38] Adambean opened #379 "Dependency conflict with php-http/guzzle6-adapter 2.0"
If you try to include this package with the official instruction it will fail because of a version conflict.

`composer require m4tthumphrey/php-gitlab-api php-http/guzzle6-adapter`

This causes a conflict with dependency php-http/httplug because this package wants version 1.1, but the guzzle 6 adapter wants version 2.0.

To fix this I had to explicitly tell Composer to only use version ^1.0 of ph

[2018-11-29 09:49] TipyTechnique commented on #379
I had the same issue, you saved my day :)

[2018-11-29 09:55] m1guelpf commented on #379
could you PR this to the documentation?

[2018-12-03 21:32] andersruneson commented on #319
@mzeis Can't remember exactly, but I think I do longer use the script which needed to fetch all projects. But I'm also having trouble with pagination with other api calls like fetching jobs etc.

[2018-12-06 15:38] rsychdev opened #382 "Wrong allowed encoding values for createCommit"
https://github.com/m4tthumphrey/php-gitlab-api/blob/6aa911960eab8e73c17fe0d48c4ce6afef506fe1/lib/Gitlab/Api/Repositories.php#L240

You have wrong allowed values for files encoding: "teSt" instead of "teXt".

[2018-12-12 18:14] #301 closed

[2018-12-14 10:09] Nikschavan opened #384 "Error when installing using composer on PHP 7.3"
[ErrorException]
  "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?

![image](https://user-images.githubusercontent.com/2931091/49996974-69dcaa00-ffb6-11e8-9e25-262be0620c8f.png)

[2018-12-15 06:07] TylerBarnes commented on #359
Definitely a typo.

[2019-01-07 15:53] hirnschmalz opened #389 "API for group milestones"

[2019-01-07 15:55] hirnschmalz commented on #389
As far as I can see the API for [group milestones](https://docs.gitlab.com/ce/api/group_milestones.html) is not implemented.Furthermore the model for a milestone seems to be bound to a project.

Am I missing something?

Markus

[2019-01-09 13:06] klubnacht commented on #379
I got this one when trying to use your command:

[code]

The issue seems to be fixed when specifying the version of `php-http/httplug` 😇

[code]

[2019-01-09 22:38] #389 closed

[2019-01-22 04:08] hanwenbo commented on #335
Tnks!!! Add Support for Wiki

[2019-01-22 09:01] m1guelpf commented on #335
Feel free to submit a PR :)

[2019-01-28 11:29] IgorTeran opened #393 "Can't add an avatar to a user"
Hello. I try to add an avatar to a user when user updating but I don’t understand which format to use. I have try

base64 (raw and with mimetype)
direct link

Nothings seem to work.
I always get response "avatar is invalid".

[2019-01-28 12:15] #393 closed

[2019-02-05 03:35] hanwenbo opened #398 "Session API had removed,But it's still in the code, and it's misleading"
https://github.com/m4tthumphrey/php-gitlab-api/blob/master/lib/Gitlab/Api/Users.php

[2019-02-06 22:39] curry684 commented on #384
Considering a `composer require` runs no code of the library being installed by default I'm suspecting your Composer version is severely outdated and in need of a `sudo composer self-update`.

[2019-02-07 19:31] Santana1053 commented on #361
I'm also having this issue using the pager. I tried debugging the pager to see where it's failing, and it seems like the pager is looking for the `Link` header in the response, which doesn't seem to exist.
I'm not sure if the GitLab API updated, but the response headers that seem to provide the correct information are `X-Page`, `X-Next-Page` and `X-Total-Pages`

![image](https://user-images.github

[2019-02-07 19:35] Santana1053 commented on #361
I am also having this issue while using the pager. I attempted to debug the pager and discovered that it's looking for a response header `Link`, but that header doesn't exist. The correct headers to use should be
[code]

[2019-02-07 19:54] drumm opened #399 "9.12.0 not appearing on Packagist"
https://packagist.org/packages/m4tthumphrey/php-gitlab-api does not have https://github.com/m4tthumphrey/php-gitlab-api/releases/tag/9.12.0 yet.

GitHub changed how hooks need to be implemented, which kicked in at the end of January. https://twitter.com/packagist/status/1037035587453235201

Thanks for tagging the release!

[2019-02-07 23:10] m1guelpf commented on #399
cc @m4tthumphrey could you set up the GitHub app or transfer me the repo?

[2019-02-07 23:22] m4tthumphrey commented on #399
I'll sort it tomorrow @m1guelpf

[2019-02-11 17:16] m4tthumphrey commented on #399
Think I've sorted it @m1guelpf

[2019-02-11 17:16] #399 closed

[2019-02-12 15:28] HighCoData commented on #361
We are not able to get the last page with the pager. We have to order our projects descending dates in order to get the latest projects. But otherwise all projects located in the last page are not retrieved.

[2019-02-18 03:45] #398 closed

[2019-02-18 22:43] outofcontrol opened #404 "How to retrieve member in group with id?"
Is it possible to retrieve one group member using the Group and project members API:

    GET /groups/:id/members/:user_id

The closest I can get is (using Laravel):

    GitLab::api('groups')->members($group['id'], ['query'=>':username']);

[2019-02-19 09:05] cobak78 opened #405 "CI scheduling support"
Hi, first of all, thanks for your work 👍

I didn't see a way of create or manage CI schedules, do you have plans on integrating this feature?
Are you interested in a PR for that?

Thanks again

[2019-02-19 10:11] m1guelpf commented on #405
Sure, go ahead!

[2019-02-25 13:38] gilmiriam opened #406 "Dockerize PHP gitlab API"
Hi, thanks for the work!

Are you interested in a PR to Dockerize the API to run test locally?

Thanks!

[2019-02-28 00:58] m1guelpf commented on #406
Sure!

[2019-03-04 18:07] sluc23 commented on #377
@m1guelpf / @GMTA
please checkout #409

[2019-03-18 20:32] jboilesen opened #414 "Can't create issues"
$project->createIssue() fails  with the following message:

"Message: Argument 3 passed to Gitlab\Model\Issue::fromArray() must be of the type array, string given, called in /vendor/m4tthumphrey/php-gitlab-api/lib/Gitlab/Model/Project.php on line 806"

[2019-03-27 14:25] ijaureguialzo opened #415 "¿How do I rename a repository?"
Hello, this maybe a noob question but I have managed to fork a repository to another namespace but can rename it afterwards. I want to use a main repo as template from where to take copies.

Is there any method I'm missing?

Thanks.

[2019-03-27 15:23] ijaureguialzo commented on #415
I will answer myself, sorry.

The Fork project action in GitLab API has path and name field, which are not included in the fork() api call resolver fields: https://docs.gitlab.com/ee/api/projects.html#fork-project

Tried patching the method and it forks and renames the project.

I did this:

[code]

I will create a pull request and close this issue when get some time for it.

Cheers.

[2019-03-27 16:25] #415 closed

[2019-04-02 14:43] soullivaneuh commented on #361
@cebe The example does not work for some api ressource like projects, see:

https://github.com/nexylan/gitlab-report/blob/9373baa487e1c2432c38263ea991ce441f7f355a/src/Console/Command/ReportCommand.php#L50-L57

Only the 40 first projects are returned, nothing else.

[2019-04-04 05:45] mdemori opened #417 "Specify gitlab port"
Hi,

how can I specify the http port? I already tried with below code with no luck:

[code]
the generated URL miss the port so return an exception:

The requested URL /api/v4/issues was not found on this server.

after digging around i found that the url has been created as below:

http://test.me/api/v4/projects/

without the port so is not valid for my setup

[2019-04-20 20:34] Cysioland opened #421 "No time entry support for merge requests"
No support for listing MR's time entries and updating them

[2019-04-20 20:41] Cysioland commented on #421
Working on something that  needs it, so I might actually do something about it

[2019-04-20 20:43] m1guelpf commented on #421
Feel free to PR!

[2019-04-20 20:46] Cysioland commented on #421
Need to clean it up first, as a similar thing would be needed for issues, probably (the updating part)

[2019-04-21 15:14] principis opened #422 "Group projects 'include_subgroups' not supported"
The `include_subgroups` attribute is not supported when listing group projects.
[https://docs.gitlab.com/ee/api/groups.html#list-a-groups-projects](url)

[2019-04-23 07:30] m1guelpf commented on #422
Feel free to open a PR!

[2019-04-29 14:10] B8Y opened #427 "GroupMilestone Model missing"
Hi,
with #390 the GroupsMilestones routes was added for the issue #389 but not the associated model.
Currently the Milestone model is bound to the project but in certain context we need these milestones to be bound to the group.
Given that I need this for a project I can make the PR and submit to your approval if you're ok with that.

[2019-04-30 07:53] m1guelpf commented on #427
Feel free to PR this

[2019-04-30 11:04] #427 closed

[2019-04-30 11:16] B8Y commented on #427
Thanks :)

[2019-05-01 16:27] morinluc0 commented on #335
Started working on a PR for this request,

I still need to create test cases and functions to perform actions on the wiki from the project class.

[2019-05-03 17:37] JLMandap034 opened #430 "Access tokens not getting issues not made by user even though the user is assigned to the project"
Is it possible to get projects, issues, and milestones even if the user didn't create them?

[2019-05-13 03:23] hguerrier commented on #361
I am also experiencing this. We are only able to return a limited number at a time.

[2019-06-25 07:09] svilborg opened #435 "Create Merge Request - missing parameters"
Create Merge Request endpoint doesn't support some extra parameters like `remove_source_branch`, `squash`

https://docs.gitlab.com/ee/api/merge_requests.html#create-mr

[2019-07-16 07:55] blackfyre commented on #350
I'm also interested in this!

[2019-07-16 08:58] m1guelpf commented on #350
Feel free to submit a PR to tweak this!

[2019-08-19 02:05] donkidd opened #440 "Protecting Branches"
There is now more flexibility in the setting of permissions related to protected branches. (https://docs.gitlab.com/ce/api/protected_branches.html#protect-repository-branches)  I was wondering if there was any thought on changing the class so that that same flexibility was available.  I'd be willing to help write the code, but I was wondering if it made sense to keep the "protect branch" code in t

[2019-10-02 13:06] DBLaci opened #446 "Model\Label() id is not accessible but it is needed for board list creation"
I can list the labels for a project using $project->labels() where $project is a Model\Project object. But the label object contains only the name and the color of the label, not the id.

I need the label id however for board list creation.

I want to maintain labels and board lists for projects with a script, hence I need this.

[2019-10-03 06:46] m1guelpf commented on #446
Feel free to open a PR that fixes this

[2019-10-15 15:49] #446 closed

[2019-10-24 08:14] mattheo-geoffray opened #450 "Merge Request Changes API does not return changes"
### Description
When we call `\Gitlab\Model\MergeRequest::changes` the `$data` will contain the response of
[code]
but as it will be injected in a `\Gitlab\Model\MergeRequest` object all data will be lost.

### Actual result
No changes data is return from `\Gitlab\Model\MergeRequest::changes`

### Expected result
Changes data to be returned in a `\Gitlab\Model\MergeRequest` object or in a new `\Gi

[2019-10-24 12:12] lukascernydis opened #451 "Installation via Composer fails"
- Installation request for m4tthumphrey/php-gitlab-api ^9.13.0 -> satisfiable by m4tthumphrey/php-gitlab-api[9.13.0].
- m4tthumphrey/php-gitlab-api 9.13.0 requires php-http/client-implementation ^1.0 -> no matching package found.

[2019-10-24 12:53] lukascernydis commented on #451
Oh I am sorry. Totally missed the line with php-http/guzzle6-adapter.

Everything is working fine.

[2019-10-24 12:53] #451 closed

[2019-10-29 10:20] principis commented on #422
Added in #423

[2019-10-29 10:20] #422 closed

[2019-11-07 13:20] GrahamCampbell opened #456 "9.14.0 release"
Is this on the way soon? :)

[2019-11-14 08:10] m1guelpf commented on #456
Just tagged!

[2019-11-14 08:10] #456 closed

[2019-11-21 04:01] huliuqing opened #458 "PHP Fatal error: Uncaught Gitlab\Exception\RuntimeException: 404 Not Found"
## problem

When I build a merge request use the mr api, it give me some errors.

1. some warning
[code]

2.  A fatal error
[code]

## What I did
I install the dependency library as the doc guide says:

[code]

## more try

I have try to install earlier version like below, but not work:

[code]

[2019-11-21 11:50] bertoost opened #459 "Composer dependencies are not correct"
When I try to require the package, I am getting this message;

[code]

Seems the `php-http/client-implementation` package is no longer existing. Can you fix this?

[2019-11-21 11:52] bertoost commented on #459
Did not read the README well.. when using this require statement, it works fine

[code]
But it shouldn't be necessary of course ;-)

[2019-11-22 02:37] huliuqing commented on #458
Yet I found the anwser:

In version 9.11 it lost some required dependency library, **symfony/http-client** and **nyholm/psr7**.

If you got the same problem, and installed this libaray yet,you need remove it first and then execute  command:

[code]

[2019-11-22 02:38] #458 closed

[2019-12-03 13:07] hrobertson opened #461 "Create Pipeline with variables"
It has long been possible to create a pipeline via the API with specific variable values:
[code]

Since [11.11 introduced 'file' variables](https://gitlab.com/gitlab-org/gitlab-foss/issues/46806), the API has changed:
[code]
See https://docs.gitlab.com/ee/api/pipelines.html#create-a-new-pipeline

Neither of these are supported by this library and I'd like to change this, however I am not sure what

[2019-12-08 22:31] czim opened #464 "updateBadge() for projects() omits PUT $params"
The `projects()->updateBadge()` call does not work, because the PUT body parameters are omitted. This is a very easy and quick fix.

https://github.com/m4tthumphrey/php-gitlab-api/blob/0b2fc89046bc0cecb1a72728dc6767a28e32705c/lib/Gitlab/Api/Projects.php#L899

Should be:

[code]

[2019-12-15 19:15] AizeLeOuf commented on #145
You still can't created a project in group. Projects are created for current logged user trougth API.

Please fix it and offer a createProjectForGroup.
Thanks,

[2019-12-18 19:23] donkidd opened #466 "Calling API for a Project that is shared with a Group fails"
When trying to create a Project for a group that is shared with another group, I am getting the following error.  The lib/Gitlab/Model/Group.php file is looking for a 'id' field but inside the "shared_with_group" actually has the "group_id" field instead of the "id".

[code]

[code]

[2019-12-19 12:52] webmaster777 opened #467 "Unable to get last deployment of an environment"
There is no `show()` method implemented in `API\Environments`.
This would provide access to the additional keys in a single environment fetch.

[2019-12-19 12:52] webmaster777 commented on #467
See https://docs.gitlab.com/ee/api/environments.html#list-environments

List only provides a subset of properties.

[2019-12-23 08:02] webmaster777 opened #471 "phpstan failure"
Gonna merge it and try to take care of the static analysis later

_Originally posted by @m1guelpf in https://github.com/m4tthumphrey/php-gitlab-api/pull/453#issuecomment-550231397_

The issue flagged by phpstan is real and should be addressed. Maintaining a version of this library that supports 2 versions of the same library is *hard*. However, if you do want to support both versions of HTTPlug (v

[2019-12-23 09:48] webmaster777 commented on #471
Or better yet, let phpstan anlayze the code without `COMPOSER_FLAGS="--prefer-lowest"`

[2019-12-29 22:33] m1guelpf commented on #471
I'm closing this now, lemme know if this should be reopened

[2019-12-29 22:33] #471 closed

[2020-01-02 13:39] #461 closed

[2020-01-02 13:40] #464 closed

[2020-01-02 13:42] #467 closed

[2020-01-02 13:42] m1guelpf commented on #145
@AizeLeOuf PRs welcome

[2020-01-02 13:42] m1guelpf commented on #466
PRs welcome

[2020-01-02 13:43] #459 closed

[2020-01-02 13:43] m1guelpf commented on #450
PRs welcome

[2020-01-21 10:58] emocharnik opened #477 "System hooks > Unable to pass hook options to 'Gitlab\Api\SystemHooks::create'"
Version: 9.16.0

According to the [System Hooks documentation](https://docs.gitlab.com/ee/api/system_hooks.html#add-new-system-hook) there is a possibility to pas configuration on hook creation.

The most critical option is to pass secret token to validate received payloads.

[2020-01-21 11:35] #477 closed

[2020-01-23 08:38] thawkins opened #480 "example please"
I cant seem to work out how to read objects/entities with this library.

There are dozens of examples of how to create things, but none on how to retrieve an entity. or even how to search for something.

Can somebody provide a simple snippet on how to find/retrieve a user with a given username or email-address.

Thanks in anticipation...

[2020-01-29 15:22] #440 closed

[2020-01-29 15:25] donkidd opened #481 "Can we help keep this repo going?"
There are several PR's out there that look like they could be merged.  @m4tthumphrey can I or any of us help with PR approvals, or is there anything we(the community)  do to help with this repo?

[2020-01-29 16:24] m4tthumphrey commented on #481
Hey @donkidd,

I am not very active in this project due to not actually use it much these days. However, @jubianchi, @radutopala, @fbourigault, @m1guelpf are all collaborators. I have no issue adding more if required...

[2020-01-29 16:55] donkidd commented on #481
I just see lots of PR's out there with green checkmarks, so just wondering what would need to happen to get them Merged.  Mine PR has been out there 3 weeks, fixed a defect and added a new test, but have seen no response or acknowledgment about what is to happen next.  If you need someone in the US, I could help with things in this time zone.

[2020-01-30 10:13] #466 closed

[2020-01-31 15:58] donkidd opened #483 "Could we get a new release?"
After several PR's approved yesterday, will there be a new release created soon?

[2020-02-14 08:10] thawkins opened #485 "add $link_type parameter to Issuelinks api."
can we change the issue-links API to have the following.

This allows setting the link_type as "relates_to", "is_blocked_by" or "blocks" in the latest 12.7 versions of gitlab, it is silently ignored and defaults to "related_to" for earlier versions of gitlab, causes no code api breaks.

[code]

|Attribute | Type | Required | Description|
-- | -- | -- | --
|id | integer/string | yes | The ID or URL

[2020-02-17 09:36] m1guelpf commented on #485
Feel free to PR this

[2020-02-17 09:37] m1guelpf commented on #483
Just tagged!

[2020-02-17 09:37] #483 closed

[2020-02-17 10:29] thawkins commented on #485
Will do

On Mon, Feb 17, 2020, 17:36 Miguel Piedrafita, <notifications@github.com>
wrote:

[2020-02-26 08:28] Crazynx opened #489 "Can't create milestone"
About a few weeks ago my code for creating a milestone stopped working, it would return a 404 project not found error.
My previous code looked like this:
[code]
I changed it to something that works, which looks like this:
[code]
But I can't find this information anywhere in the Gitlab API code. A change in the code would be nice.

[2020-02-26 08:30] Crazynx commented on #414
Hey there, I fixed this issue by adding another pair of brackets around the parameters. I hope this works for you too!
Example:
Instead of `['id' => 1]` being your parameters, change it to `[['id' => 1]].

[2020-03-05 14:18] glensc opened #491 "Unsubscribe from an issue API"
I don't understand how to make a call to [/projects/:id/issues/:issue_iid/unsubscribe][1] endpoint:

[1]: https://docs.gitlab.com/ee/api/issues.html#unsubscribe-from-an-issue

I believe there should be method with getProjectPath and `issues` argument:
[code]

but none such is present:
- https://github.com/m4tthumphrey/php-gitlab-api/blob/9.17.0/lib/Gitlab/Api/Projects.php

So the support is missin

[2020-03-11 14:53] andersruneson commented on #319
@mzeis @fr0z3nfyr
I accidentally had this issue again while writing another script. I had the exact same issue as you @mzeis that it worked fine on one system but not on the other. The strange this is they are both running the same version of PHP 7.2.24-0ubuntu0.18.04.3!
I got some more details this time, I think something is really borked with the pagination. Adding the parameter per_page 20 gave

[2020-04-15 10:36] m4tthumphrey commented on #481
@donkidd Would you still like to become a collaborator on this project?

[2020-04-15 15:13] donkidd commented on #481
Sure, we are using this a lot for a project I am working on.

[2020-04-22 10:00] fliespl opened #496 "Allow deletion of merge requests"
As in the title. I think this functionality is missing :)

https://docs.gitlab.com/ee/api/merge_requests.html#delete-a-merge-request

[2020-04-30 15:14] glensc commented on #347
#378 does not seem to be complete, for example whole concept of commit is missing:
- https://docs.gitlab.com/ee/api/discussions.html#get-single-commit-discussion-item

[2020-04-30 19:58] glensc commented on #347
added something quickly for specific use-case:
- https://github.com/m4tthumphrey/php-gitlab-api/pull/501

[2020-05-01 07:24] glensc commented on #481
@donkidd most of the open PR's are stalled because of original reporters either:
1. don't add tests
2. don't rebase

you can help by submitting your own rebased PR, like this one:
- https://github.com/m4tthumphrey/php-gitlab-api/pull/503

that would require no involvement from maintainers.

[2020-05-01 11:51] glensc commented on #481
Also, contributors rather close the PR and forget about it than write put extra effort to satisfy the requirements for merge:
- https://github.com/m4tthumphrey/php-gitlab-api/pull/198

[2020-05-01 12:05] glensc commented on #481
I also noticed that most of the tests are really rather useless:
1. they build arbitrary $returnArray
2. mock that whatever the API call does, return the $returnArray

so, it's testing the validity of the $returnArray, you can change it to anything and test will still pass. to remove confusion, I would remove such assertions at all, they test that variable equals to itself.

those tests only valid

[2020-05-01 12:07] glensc commented on #480
@thawkins for starters, point to API documentation what you want to do, and show you obtained the same data with curl (gitlab API docs use curl examples), then I could perhaps help, otherwise, it's too vague effort.

[2020-05-01 12:13] thawkins commented on #480
Sorry i resolved this,  its was a catestropic  comprehension failure.  You can close this one, however a few examples on how to query dsta would have helped.

[2020-05-01 13:01] glensc commented on #480
@thawkins no, I can not close this. I'm not member of this project. but you can you are the original reporter.

[2020-05-01 13:46] #480 closed

[2020-05-04 16:23] akondas commented on #361
Probably related with #319.

[2020-05-04 16:25] akondas commented on #319
I have exactly the same situation, on one machine the same organization returns 81 projects, and on another only 40, regardless of everything. Did someone find anything?

[2020-05-04 17:54] akondas commented on #319
Hello my friends :wink: I was able to reproduce it. Everything is guilty of the `Link` header in the response.

When requests are sent from the PHP version without support for the `curl` extension, php cuts this header (I don't know why). Installing curl and using it (for example, via `CurlHttpClient`) solves all problems.

[2020-05-04 17:56] akondas commented on #319
Protip: try to install `curl` extension first.

[2020-05-04 17:57] akondas commented on #361
Protip: try to install `curl` extension :wink:

[2020-05-06 13:46] glensc commented on #2
this looks stale and should be closed

[2020-05-06 16:22] donkidd commented on #404
@outofcontrol How did you end up solving this?  That seems like a way to get a member of a group.  Were you looking for another way to do this?

[2020-05-11 10:04] dmarkic opened #506 "Updated Issues Api options (parameters)"
Hello,

there are more options than currently specified in Issues Api createOptionsResolver().

https://docs.gitlab.com/ee/api/issues.html#list-issues

For instance if I try to use `updated_after` option it fails with:
`The option "updated_after" does not exist. Defined options are: "assignee_id", "iids", "labels", "milestone", "order_by", "page", "per_page", "scope", "search", "sort", "state".`

[2020-05-26 14:30] weitzman commented on #344
That escaped me too. Thanks for the tip!

[2020-05-29 14:13] ClassicCut opened #508 "Scheduled pipeline variables"
Is there currently support for scheduled pipeline variables? It seems to be part of the Gitlab API (https://docs.gitlab.com/ee/api/pipeline_schedules.html#create-a-new-pipeline-schedule-variable), but those calls don't seem to be part of the Schedules class. Is there a plan to implement the scheduled pipeline variables calls?
Thanks.

[2020-07-03 08:18] GrahamCampbell opened #512 "Support for epics API"

[2020-07-03 08:20] GrahamCampbell commented on #417
Thanks for the report. Were you able to look into debugging this?

[2020-07-03 08:24] GrahamCampbell commented on #481
@donkidd I have come on board as a maintainer now, and we're going to transfer this repo to a new home, in a GitHub organisation soon. A lot of the PRs are unfortunately stalled because they are not of the required quality, most of the time, because they lack any tests. I'll prompt authors again, and see which I can quickly finish myself.

If anyone else is interested in helping with this process,

[2020-07-03 08:24] #481 closed

[2020-07-03 09:00] arnegroskurth opened #514 "Retrieving variables of existing pipelines?"
Am I missing something here is this this currently not supported?

https://docs.gitlab.com/ee/api/pipelines.html#get-variables-of-a-pipeline

[2020-07-03 09:17] #406 closed

[2020-07-03 09:17] #384 closed

[2020-07-03 09:18] #361 closed

[2020-07-03 09:18] #319 closed

[2020-07-03 09:19] #326 closed

[2020-07-03 09:19] #350 closed

[2020-07-03 09:20] GrahamCampbell commented on #350
This can be customised in the usual way by passing an http client to the http builder.

[2020-07-03 10:39] GrahamCampbell opened #519 "Consistant boolean validation"
https://github.com/m4tthumphrey/php-gitlab-api/pull/449#issuecomment-622273836

// cc @glensc

[2020-07-03 10:41] GrahamCampbell commented on #359
Will be fixed in the next release. :)

[2020-07-03 10:41] #359 closed

[2020-07-03 10:42] #308 closed

[2020-07-03 10:42] #315 closed

[2020-07-03 10:42] #202 closed

[2020-07-03 11:17] #10 closed

[2020-07-03 11:19] GrahamCampbell commented on #118
Fixed in the latest v9 release.

[2020-07-03 11:19] #118 closed

[2020-07-03 19:26] #252 closed

[2020-07-03 19:27] GrahamCampbell commented on #252
I've added contribution guide for clarity. I've also enabled a lot more rules, taking us to a standard very close to Symfony's.

[2020-07-03 19:27] #2 closed

[2020-07-03 19:28] GrahamCampbell commented on #2
Thanks @glensc. :)

[2020-07-03 19:28] #7 closed

[2020-07-03 19:29] GrahamCampbell commented on #159
I think this has been fixed. At least, the code that is currently there accesses the internal id (iid) now, instead of the id. Please let me know if this is actually not fixed, and let me know the new error.

[2020-07-03 19:29] #159 closed

[2020-07-03 19:30] #168 closed

[2020-07-03 23:49] GrahamCampbell opened #535 "Exception refactoring"
Some exception classes are unused, and some are not very clear.

[2020-07-04 01:03] GrahamCampbell opened #536 "Ensure all array doced params have real array types"
I\m hoping we can do this with tooling. I just need to find a tool that understands string[] doc means array native type, rather than "d'no, skipping".

[2020-07-04 01:03] GrahamCampbell commented on #535
Refactoring to happen in a BC way on 9.18 with depreciations. Old classes to be removed in 10.0.

[2020-07-04 01:22] GrahamCampbell commented on #514
Yeh, I think you are correct that this is not implemented (yet). We'd happily accept a PR with tests to the 2.18 branch. :)

[2020-07-04 01:26] GrahamCampbell commented on #404
@donkidd, yes @outofcontrol was, as they said:

---

@outofcontrol We'd happily accept a PR with tests to add this endpoint to our client. :)

[2020-07-04 09:55] GrahamCampbell opened #540 "Mark plugins as internal in 10.0"

[2020-07-04 10:52] #540 closed

[2020-07-04 11:17] GrahamCampbell opened #541 "Deprecate string|array params"
- [x] MergeRequest::create() and API model
- [x] Projects::members() and API model
- [x] Issues::addDiscussion()

[2020-07-04 12:52] GrahamCampbell opened #546 "in_array strict"

[2020-07-04 13:50] #546 closed

[2020-07-04 14:27] GrahamCampbell opened #550 "Note to self"
remove `@property-read Commit $commit` from release model on 9.17

[2020-07-04 14:39] GrahamCampbell commented on #550
Done.

[2020-07-04 14:39] #550 closed

[2020-07-04 15:43] #417 closed

[2020-07-04 15:47] GrahamCampbell commented on #417
I am not able to replicate this. It is possible your choice of PSR-17 URI factory implementation has a bug.

[2020-07-05 14:27] arnegroskurth commented on #514
resolved by #526

[2020-07-05 14:27] #514 closed

[2020-07-05 14:28] arnegroskurth commented on #307
resolved by: #526

[2020-07-05 14:34] #307 closed

[2020-07-05 14:34] GrahamCampbell commented on #307
🎉

[2020-07-06 09:02] glensc commented on #481
@GrahamCampbell please see my rant above, requesting the tests is a pointless blocker. as the existing tests do not test actually the API, they just test input arguments, and as the input arguments are also injected, they become totally useless (you're just testing that you receive values you just injected)

[2020-07-06 09:09] glensc commented on #491
fixed by https://github.com/m4tthumphrey/php-gitlab-api/pull/504

somewhy auto-close did not work even the "Fixes" keyword was used.

[2020-07-06 09:09] #491 closed

[2020-07-06 09:12] GrahamCampbell commented on #481
Yeh, I'm aware that the tests are not great, and even return the wrong type sometimes! I want to always return either an array or a StreamInterface (for non-json replies) in 10.0, like https://packagist.org/packages/bitbucket/client does, and enforce this strictly!

We do now have some tests that hit the actual API now, btw, and I've been able to run gitlab locally, so we can possibly make more of

[2020-07-06 09:14] GrahamCampbell commented on #481
The current tests are certainly better than nothing, however, and have caught some errors I made doing refactoring.

[2020-07-06 09:19] #535 closed

[2020-07-06 09:19] GrahamCampbell commented on #535
Done.

[2020-07-06 09:20] #414 closed

[2020-07-06 11:11] GrahamCampbell commented on #330
This has been available since 9.10.0. :)

[2020-07-06 11:11] #330 closed

[2020-07-06 11:12] #291 closed

[2020-07-06 11:14] #328 closed

[2020-07-06 11:15] GrahamCampbell commented on #328
I ran your example, exactly as written:

[code]

[2020-07-06 11:21] #283 closed

[2020-07-06 11:23] GrahamCampbell commented on #283
Deprecated in 9.18. Will be removed in 10.0.

[2020-07-06 11:24] GrahamCampbell opened #554 "[RFC] Drop models API"
It's hard to keep up-dated. Unless someone wants to volunteer to spend a lot of time going through all of the models code updating it, maybe we should remove the models entirely?

[2020-07-06 11:34] fbourigault commented on #554
What do you suggest? Using php arrays?

[2020-07-06 11:56] GrahamCampbell commented on #554
@fbourigault No. To explain what I mean a little more. The design of this package is that we have a bunch of classes in `Gitlab/Api`. These talk to GitLab, and can be used in their own right. Most people using this package will probably be using that code. Importantly, this code is totally independent of the `Gitlab/Models` namespace, so that stuff could be removed, without effecting the function

[2020-07-06 11:58] GrahamCampbell commented on #554
If we do decide to remove them, I'd suggest we wait until 11.0 to do it, as to avoid hurting adoption of 10.0. We can leave them in and mark them as deprecated. There's no rush to remove them, just so long as we make it clear that they are deprecated.

[2020-07-08 19:51] m4tthumphrey commented on #554
I would definitely agree in removing them. They were first introduced because that's how I was consuming the API in the beginning. Probably worth deprecating in the next release.

[2020-07-09 00:06] #335 closed

[2020-07-09 00:06] GrahamCampbell commented on #335
Implemented. Was available since 9.17.0. :)

[2020-07-09 00:07] GrahamCampbell commented on #335
Thank you @morinluc0. 🚀

[2020-07-09 00:09] #377 closed

[2020-07-09 00:09] GrahamCampbell commented on #8
I think the plan is to remove models (eventually). We can close this off for now, since any refactoring tasks relating to models is not going to be worth it.

[2020-07-09 00:09] #8 closed

[2020-07-10 16:23] GrahamCampbell commented on #421
Done. Will be available in the next release. :)

[2020-07-10 16:23] #421 closed

[2020-07-10 16:24] GrahamCampbell commented on #374
Yes.

[2020-07-10 16:24] #374 closed

[2020-07-10 16:24] GrahamCampbell commented on #374
This is the doc for that method:

[code]

[2020-07-10 16:25] GrahamCampbell commented on #258
`show` is to fetch a single issue. You are gonna want the `all` method.

[2020-07-10 16:25] #258 closed

[2020-07-10 16:27] GrahamCampbell commented on #258
@dozer55 here's an example:

[code]

PS The `api('issues')` method will be deprecated in the next release: use `issues()` instead, like in the example.

[2020-07-11 08:41] glensc commented on #347
@GrahamCampbell I think this can be closed, as it takes more effort to find what's missing that just wait for someone to request what they are missing. and reaching 100% compatible is probably impossible considering they make changes to api with each release.

when I worked with https://github.com/GitLabPHP/Client/pull/501 for https://github.com/glensc/slack-unfurl-gitlab/pull/10 I found there are

[2020-07-11 09:30] GrahamCampbell commented on #347
I deprecated all comments stuff earlier this week, replaced by notes. :)

[2020-07-11 09:30] #347 closed

[2020-07-11 17:39] #541 closed

[2020-07-11 20:38] GrahamCampbell opened #555 "Correct Return Types"
The API methods should either return array, string or not return at all. Current situation is non-ideal.

[2020-07-11 20:40] GrahamCampbell commented on #536
I\m hoping we can do this with tooling. I just need to find a tool that understands string[] doc means array native type, rather than "d'no, skipping".

[2020-07-11 20:42] GrahamCampbell commented on #554
I think I will aim to remove them in 11.0 (which will be released in 2021 or 2022 I guess). I don't wanna do it in 10.0 because it might stop people upgrading from 9.x to 10.x. We need to give people lots of notice.

[2020-07-11 20:43] GrahamCampbell commented on #554
My current plan is to release 10.0.0 later this month, simultaneously with 9.19.0. Note also that 9.18.0 was tagged today, with lots of deprecations.

[2020-07-13 11:03] arnegroskurth opened #556 "9.18.0 release not on packagist"
The 9.18.0 release is not available on packagist: https://packagist.org/packages/m4tthumphrey/php-gitlab-api

Is the hook maybe not set up correctly? https://packagist.org/about#how-to-update-packages

[2020-07-13 11:09] GrahamCampbell commented on #556
The hook is setup and it claims to be working:

![image](https://user-images.githubusercontent.com/2829600/87298170-a7424a00-c501-11ea-86c0-a4334e6cc579.png)

[2020-07-13 11:14] GrahamCampbell commented on #556
I'm not sure what's going on here. I've triggered a manual update, so the release should be available now.

[2020-07-13 11:18] GrahamCampbell commented on #556
Ok, I think the root cause is fixed now (they lied about it being auto-updated :trollface:). Thanks for the report!

[2020-07-13 11:18] #556 closed, assigned to nobody

[2020-07-16 12:12] glensc commented on #554
What about graphql? they wrote that they added it and support parallel with rest api. and just yesterday I noticed the gitlab website itself makes graphql queries.

- https://docs.gitlab.com/ee/api/graphql/
- https://docs.gitlab.com/ee/api/graphql/#vision
- https://docs.gitlab.com/ee/development/fe_guide/graphql.html

[2020-07-16 12:14] GrahamCampbell commented on #554
I don't think graphql is right for the use cases of most people, certainly not for my use of the API. I am certainly not in supporting of implementing it here. I'd recommend creating an entirely new package for consuming their graphql api.

[2020-07-16 12:14] GrahamCampbell commented on #554
Graphql has many disadvantages compared to standard HTTP APIs if you just want to use them as a REST API.

[2020-07-16 12:33] m4tthumphrey commented on #554
Yeah this package is specifically for supporting the REST API. The model part of this lib was a superfluous addition that I included in the repo rather than in my app all those years ago. Nothing todo with the API itself, REST or GraphQL.

[2020-07-23 12:01] GrahamCampbell commented on #435
The codes does support them, it just doesn't document them. You can pass anything you like in the parameters array.

[2020-07-23 12:02] GrahamCampbell commented on #435
This is supported already, using the parameters array. Passing explicit params is deprecated, and will be removed in v10.

[2020-07-23 12:02] #435 closed

[2020-07-23 13:03] GrahamCampbell commented on #485
I've implemented this. It will be available in v9.19.0 and v10.0.0.

[2020-07-23 13:03] #485 closed

[2020-07-23 13:05] GrahamCampbell commented on #382
Fixed.

[2020-07-23 13:05] #382 closed

[2020-07-23 13:06] #294 closed

[2020-07-23 13:06] #536 closed

[2020-07-29 13:13] S1933 opened #559 "Set name and path on fork project"
Hi guys,

I'm trying to fork my project with name and path passed on parameters but variables don't are doesn't set on my new repository.

`$params = [
      "namespace" => $group,
      "name" => $name,
      "path" => $path
    ];
`

`$this->client->projects()->fork($projectFork, $params);`

Maybe, I used the wrong way to build my $params variable?

[2020-07-29 13:19] GrahamCampbell commented on #559
The available parameters are documented at https://docs.gitlab.com/ee/api/projects.html#fork-project. If these are not working, then I'd recommend contacting GitLab's support.

[2020-07-30 16:42] GrahamCampbell commented on #559
I don't think GitLab support passing all 3 of those at once btw?

[2020-07-31 13:37] GregKapustin commented on #350
You may also use [curl info ca cert](https://curl.haxx.se/ca/cacert.pem) in your php ini, worked for me

[2020-08-31 11:56] ederuiter opened #570 "Unable to retrieve groups by path in v10"
In v10 parameter type hints were added to the Groups class; this prevents us from retrieving groups by path (https://docs.gitlab.com/ee/api/groups.html#details-of-a-group).

For projects and repositories the id parameter has no typehint, I think the same has to be done for Groups.

https://github.com/GitLabPHP/Client/blob/10.0/src/Api/Groups.php#L38

(this does not only affect the show function, b

[2020-08-31 13:11] GrahamCampbell commented on #570
I don't the Gitlab's API officially supports using the path? Could you link me to something in the docs that says the path can be used?

[2020-08-31 18:54] ederuiter commented on #570
According to the docs it is supported, for example see https://docs.gitlab.com/ee/api/groups.html#details-of-a-group
[code]

Looking at the documentation for the other group api endpoints; all of them support it, with the exception of `update`. But that might just be a documentation issue.

[2020-09-02 16:00] GrahamCampbell commented on #570
Right, so this actually needs to be fixed on 9.19, and then merged up into 10.0. Are you able to send a PR to correct the types in 9.19?

[2020-09-02 20:03] mgrundkoetter commented on #405
So this can be closed, right?

[2020-09-02 20:14] mgrundkoetter opened #571 "Access levels should be named constants"
Instead of having the arbitrary integer values at several places hardcoded into the project and not accessible from outside, when using the api, [those values](https://docs.gitlab.com/ee/api/members.html#valid-access-levels) should exist as public constants in the API.

This may be in `Api/Projects` or `Api/Users` or inside a completely new class (like `AccessLevel`). So the usage would be like:
[

[2020-09-02 20:21] #405 closed

[2020-09-02 20:21] GrahamCampbell commented on #571
Yep, that could be a good idea (for 10.1).

[2020-09-09 12:20] andrey-helldar opened #573 "[10.x] iids is invalid"
I am sending a request to get a list of comments for MR

Version 9.19 generated a request like this ([working](https://github.com/GitLabPHP/Client/blob/9.19/lib/Gitlab/HttpClient/Util/QueryStringBuilder.php#L26-L28)):
[code]

Version 10 makes a request like this ([doesn't work](https://github.com/GitLabPHP/Client/blob/10.0/src/HttpClient/Util/QueryStringBuilder.php#L25)):
[code]

Therefore, the gi

[2020-09-15 16:24] Gounlaf opened #574 "[Bug] Commit ID should be a string, not a int"
Hi,

With commit https://github.com/GitLabPHP/Client/commit/9292486eadc79f3ac65416afe83dcf7455a8a70d type hinting were added.

I got the exception below doing something like this (simplified):

[code]

If I'm not wrong, commits IDs are always string.

[code]

I will create a PR soon,

Regards,

Edit: Phpdoc for class still refer to string for id/short_id too.

[2020-09-21 10:08] MacTwister commented on #570
Is there a way to get around this limitation until an update to v10 is release with a fix? I need to be able to fetch a group using the path (string).

Or is there a way to make manual get requests from my app? I could not find anything documented and the `get` method on `groups` API class is protected. Would be great to have this ability, for any possible routes that are not supported by this pac

[2020-09-23 11:13] andrey-helldar opened #577 "Limited number of Merge Request commits"
I have multiple Merge Request which has up to 150 commits.
Now, when asked, I get only 20. This is the number that Gitlab gives by default.

Of course, I could pass the `per_page` and` page` parameters by looping through the requests, but this cannot be done, since the [commits()](https://github.com/GitLabPHP/Client/blob/10.0/src/Api/MergeRequests.php#L368-L371) method does not accept additional p

[2020-09-23 11:48] GrahamCampbell commented on #577
You need to use the ResultPager class here. :)

[2020-09-23 11:48] #577 closed, assigned to nobody

[2020-09-23 12:00] andrey-helldar commented on #577
It remains to figure out how to associate it with the `graham-campbell/gitlab` package:

![image](https://user-images.githubusercontent.com/10347617/94009676-77d77580-fdad-11ea-8317-4692f6903e91.png)

[2020-09-23 12:14] andrey-helldar commented on #577
Found. The person asks the solution too :)
GrahamCampbell/Laravel-GitLab#28

[2020-09-23 12:32] andrey-helldar commented on #577
Solved 😊

See https://github.com/GrahamCampbell/Laravel-GitLab/issues/28#issuecomment-697333027

[2020-10-01 02:17] nikathone opened #583 "How to download a repository archive?"
Hi, how can someone use this library to download a repository? When I use curl `curl --header "PRIVATE-TOKEN: <your_access_token>" "https://gitlab.com/api/v4/projects/<project_id>/repository/archive?sha=<commit_sha>"`, for example, I can pass the `--output` flag to tell curl where to save the file locally but when I look at https://github.com/GitLabPHP/Client/blob/10.0/src/Api/Repositories.php#L43

[2020-10-08 17:37] caugner opened #584 "Issues->addNote(): support additional params (confidential, created_at)"
Currently, `Issue->addNote()` only supports the required parameter `body`:
https://github.com/GitLabPHP/Client/blob/964682b90d85e1bd94c83005603b86335ee4c311/src/Api/Issues.php#L160-L164

The GitLab API accepts the optional parameters `confidential` and `created_at`, which is especially useful when migrating issues over from another ticket system: https://docs.gitlab.com/ee/api/notes.html#create-ne

[2020-10-08 19:16] caugner commented on #584
I solved it temporarily as follows:

[code]

[2020-10-15 11:36] NicoP-S opened #586 "Slim RequestFactory not working"
Hello I am trying to get GitlabPHP running in my slim project.
The docs at https://docs.php-http.org/en/latest/httplug/users.html said it should work with slim too.

Part of my composer.json:
[code]

Error Message:
[code]

It tests for `Http\Factory\Slim\RequestFactory`.
I have checked my vendor dir. I only have `Slim\Psr7\Factory\RequestFactory`

Am I doing something wrong?

[2020-10-15 11:38] GrahamCampbell commented on #586
Those docs are for how to use the legacy http plug interfaces. We now use PSR-17 and PSR-18.

[2020-10-15 11:52] NicoP-S commented on #586
@GrahamCampbell  I think slim/psr7 is psr-17 compliant

https://github.com/slimphp/Slim-Psr7/blob/master/composer.json#L46-L49

I also tryied writing the part from the psr-17 docs into my controller
https://docs.php-http.org/en/latest/discovery.html#psr-17-factory-discovery
Is there an example anywhere?

[2020-10-15 11:55] GrahamCampbell commented on #586
Maybe this is an issue with the discovery package.

[2020-10-16 14:12] webmaster777 commented on #586
You can force the factories by providing them to the `Builder` class:

[code]

Or more fancy using DI-containers.

[2020-10-16 18:38] GrahamCampbell commented on #586
Replaced by https://github.com/php-http/discovery/issues/190.

[2020-10-16 18:38] #586 closed, assigned to nobody

[2020-10-24 14:02] #584 closed, assigned to nobody

[2020-10-24 14:02] GrahamCampbell commented on #584
Fixed.

[2020-10-24 14:03] GrahamCampbell commented on #574
Fixed.

[2020-10-24 14:03] #574 closed, assigned to nobody

[2020-10-24 14:03] GrahamCampbell commented on #573
Fixed.

[2020-10-24 14:03] #573 closed, assigned to nobody

[2020-10-24 14:03] GrahamCampbell commented on #570
Fixed.

[2020-10-24 14:03] #570 closed, assigned to nobody

[2020-10-24 14:03] #559 closed, assigned to nobody

[2020-10-24 14:04] GrahamCampbell commented on #489
Not sure. I think this is something GitLab broke, rather than something that changed in the library?

[2020-10-24 14:04] #489 closed

[2020-10-24 14:06] andrey-helldar commented on #573
Thank you!

[2020-10-24 14:09] GrahamCampbell commented on #573
9.19.1, 10.0.1 and 10.1.0 will be tagged soon.

[2020-10-24 16:59] glensc opened #590 "Use keepachangelog format"
please consider using:
- https://keepachangelog.com/en/1.0.0/

mainly:
- use iso8601 dates

[2020-10-24 19:10] GrahamCampbell commented on #554
Deprecating models in 10.1.0, for removal in 11.0.0. 10.1.0 will be released today. 11.0.0 will be some time in 2021, maybe in the summer.

[2020-10-24 19:10] #554 closed, assigned to nobody

[2020-10-26 11:08] Great-Antique opened #592 "Pager is broken"
It seems that pager is broken in **10.1.0**.

There are two places for building resulting URI:
* [AbstractApi](https://github.com/GitLabPHP/Client/blob/10.1.0/src/Api/AbstractApi.php#L246-L252)
* [QueryStringBuilder](https://github.com/GitLabPHP/Client/blob/10.1.0/src/HttpClient/Util/QueryStringBuilder.php#L22-L30)

But `?` symbol isn't added in any of them. So resulting URI is `/api/v4/projects/5

[2020-10-26 11:14] GrahamCampbell commented on #592
Ah, thanks! That is definitely my fault! I reverted the changes to the query builder in 10.0.1 that were in 10.0.0, but forgot not all of the changes were good to revert, exactly for the reason you pointed out. :)

[2020-10-26 11:34] GrahamCampbell commented on #592
Fixed in 10.0.2 and 10.1.1.

[2020-10-26 11:34] #592 closed, assigned to nobody

[2020-10-28 20:05] GrahamCampbell commented on #590
I have considered it, but won't be changing it. That said, I am not against the change, I am just not going to do it myself. If you are interesting joining the core team of this repo, I would happy to add you so that you can edit the releases on GitHub and update the change log in git.

[2020-10-29 17:42] glensc commented on #590
Ok, started with a 10.1 branch (it's current default branch):
- https://github.com/GitLabPHP/Client/pull/594

but this project contributing model is confusing a bit to me (and no CONTRIBUTING.md either).

1. what are active branches that this needs to be pushed to?
2. are they updated with a merge from lower branches?
3. or cherry-pick (and resolve conflicts) and update each branch?

[2020-10-29 19:01] GrahamCampbell commented on #590
The contribution guide is in the new standard place: https://github.com/GitLabPHP/Client/blob/10.1/.github/CONTRIBUTING.md. When you create a new issue, GitHub will link to it in the bottom right of the screen, under "Helpful resources".

[2020-10-29 19:02] GrahamCampbell commented on #590
This is defined by the fact we follow semver. Bug fixes to the current stable, new features to the next minor, and breaking changes to the next major.

[2020-10-29 19:03] GrahamCampbell commented on #590
I am also continuing to apply fixes to the latest 9.x, where possible. I suppose this is not documented.

[2020-10-29 19:27] pselge-daparto opened #595 "variable_type parameter missing in Projects::addVariable"
It is currently not possible to add a project variable with the _variable type_ of _file_.
There would need to be an additional parameter in the Projects class https://github.com/GitLabPHP/Client/blob/0c7de45272e97da854162bcf85414cc047baa889/src/Api/Projects.php#L859

See: https://docs.gitlab.com/ee/api/project_level_variables.html#create-variable

Same goes for the update method on this line http

[2020-10-30 14:34] GrahamCampbell commented on #595
Will be fixed in 10.2.0. :)

[2020-10-30 14:34] #595 closed, assigned to nobody

[2020-11-03 11:07] mquadrat opened #598 "Using parameters creates wrong URLs"
Sample Code:

`$repos = $this->gitLab->projects()->perPage(100)->all();`

URL it should create:

`<URL>/api/v4/projects?per_page=100`

URL it creates:

`<URL>/api/v4/projectsper_page=100`

Code change to make it work (AbstractApi.php):

`    private static function prepareUri(string $uri, array $query = [])
    {
        $query = \array_filter($query, function ($value): bool {
            return n

[2020-11-03 11:08] GrahamCampbell commented on #598
Please upgrade to the latest version. This has already been fixed. :)

[2020-11-03 11:08] #598 closed, assigned to nobody

[2020-11-03 11:19] mquadrat commented on #598
A sorry, should have checked that. Somehow "10.1" ended up in my composer.json instead of "^10.1" and pinned me to the old one. My bad!

[2020-11-04 10:27] vbartusevicius opened #599 "Missing support of the approved_by_ids filter option in MergeRequests"
In the documentation https://docs.gitlab.com/ee/api/merge_requests.html there is a defined query parameter `approved_by_ids`, but in version 10.1 trying to filter by it throws exception: `The option "approved_by_ids" does not exist.`

[2020-11-04 11:33] GrahamCampbell commented on #599
Please send a PR to our 10.2 branch to add support. :)

[2020-11-06 11:43] vbartusevicius commented on #599
Maybe you know when you're planning to release 10.2?

[2020-11-06 16:44] GrahamCampbell commented on #599
Probably around the end of November. You can still install it with `^10.2@dev` or just `^10.2` if you globally allow dev and prefer-stable, or something.

[2020-11-06 16:44] #599 closed, assigned to nobody

[2020-11-09 10:46] FSD-Christian-ADM opened #601 "using block-method returns an Exception"
the server's answer for blocking a user is a bool value but the API expects an array which lead to an exception
[code]

Result:
PHP Fatal error:  Uncaught Gitlab\Exception\RuntimeException: json_decode error: Expected JSON of type array, bool given. in /home/gitlab_ad_usersync/include/gitlab_api/vendor/m4tthumphrey/php-gitlab-api/src/HttpClient/Util/JsonArray.php:33
Stack trace:
#0 /home/gitlab_ad

[2020-11-09 11:19] GrahamCampbell commented on #601
Please can you run `composer show`, so I can see the installed packages.

[2020-11-09 11:21] FSD-Christian-ADM commented on #601
clue/stream-filter                v1.5.0  A simple and modern approach to stream filtering in PHP
guzzlehttp/guzzle                 7.2.0   Guzzle is a PHP HTTP client library
guzzlehttp/promises               1.4.0   Guzzle promises library
guzzlehttp/psr7                   1.7.0   PSR-7 message implementation that also provides common utility methods
http-interop/http-factory-guzzle  1.0.0   An

[2020-11-09 20:38] #590 closed, assigned to nobody

[2020-11-10 11:30] glensc commented on #590
@GrahamCampbell did not get an answer on how you want the other branches to be updated:
- https://github.com/GitLabPHP/Client/issues/590#issuecomment-718913845

[2020-11-10 12:02] glensc commented on #590
Seems you completed this with option 2:
- are they updated with a merge from lower branches?

i.e:
- https://github.com/GitLabPHP/Client/blob/10.2.0/CHANGELOG.md
- https://github.com/GitLabPHP/Client/blob/10.1.2/CHANGELOG.md

[2020-11-10 12:42] GrahamCampbell commented on #590
I am not backporting this.

[2020-11-16 14:19] bchatard opened #603 "Projects: Add missing order"
Hi,

Is it possible to add some missing `order_by` value for `\Gitlab\Api\Projects::all`?

https://github.com/GitLabPHP/Client/blob/0e158ba10365d91cccd0b1eca0b020827870dfd1/src/Api/Projects.php#L53

The missing values are related with "sudo" permissions :
https://docs.gitlab.com/ee/api/projects.html#list-all-projects

I will see something like this:
[code]

but I don't know how to easily check if

[2020-11-24 21:15] harabisj commented on #601
I have same issue as @FSD-Christian-ADM. The Block user endpoint appaerently doesn't return JSON. https://docs.gitlab.com/ee/api/users.html#block-user

[2020-11-24 23:13] arokettu opened #604 "Support PHP 8"
PHP 8 is released this Thursday. Please add support.

Tests seem to pass so apparently only the declaration in composer is required

[2020-11-25 14:00] andypost commented on #604
Tests also needs fixes after matrix extended https://github.com/GitLabPHP/Client/blob/10.2/.github/workflows/tests.yml#L14

[2020-11-26 00:19] GrahamCampbell commented on #604
Support for PHP 8 was blocked on our dependencies. I have made fixes in those over the last few months, and as of a week ago, or so, they are now ready. I will get around to adding PHP 8 here soon.

[2020-11-27 09:30] DBLaci commented on #554
I understand the concept of differentiating this project (as an API wrapper) and the models, but I prefer using objects and properties instead of simple associative arrays. In my project I override these models sometimes, but forcing the developers to implement all these models individually is not a great aproach. Maybe these Model classes could be moved to a different project then, for those (lik

[2020-11-27 22:04] GrahamCampbell commented on #604
Version 10.3.0 is out now, with support for PHP 8. Similarly, `graham-campbell/gitlab` version 4.3.0 is out too.

[2020-11-27 22:04] #604 closed, assigned to nobody

[2020-12-03 10:23] FSD-Christian-ADM commented on #601
@GrahamCampbell Will there be any further updates on this?

[2020-12-03 23:02] GrahamCampbell commented on #601
I think GitLab must have a bug in their API. Please report to them that they are adding a application/json content-type header to the response, but it is not JSON.

[2020-12-03 23:03] GrahamCampbell commented on #601
We only attempt to decode the response if GitLab tell us it is JSON:

[code]

[2020-12-03 23:04] GrahamCampbell commented on #601
What exactly is returned for you? Are you able to add a var_dump to see what `$body` is, in your app?

[2020-12-03 23:22] harabisj commented on #601
I tried to send request myself to the endpoint, got header `Content-Type: application/json` and body of `true`. So it's GitLab's bug.

[2020-12-03 23:54] harabisj commented on #601
Reported to GL: https://gitlab.com/gitlab-org/gitlab/-/issues/290986

[2020-12-04 01:13] GrahamCampbell commented on #601
Hmmm, newer specs for JSON say that that is actually valid JSON, but PHP's json_decode does not support it. We can probably work around this!

[2020-12-04 12:26] harabisj commented on #601
However,
[code]
returns `1`, so it probably is supported by json_decode() as has been stated in the GL issue comments.

[2020-12-04 12:34] GrahamCampbell commented on #601
Does version 10.3.1 work for you?

[2020-12-04 12:53] FSD-Christian-ADM commented on #601
blocking and unblocking works like a charm now! Thanks for fixing this!

[2020-12-04 13:18] harabisj commented on #601
Yes, it works perfectly. Thank you!

[2020-12-04 13:31] #601 closed, assigned to nobody

[2020-12-04 13:32] GrahamCampbell commented on #601
Great.

[2020-12-06 14:45] boredom2 opened #606 "Is there a Way to support PHP8 in the 9.* Branch?"
Hi there,

thanks for your outstanding Work. I know, that Version 10 supports PHP8 already, but sadly, this Version cant be installed in our Environments, as there are really Tons of Dependency Issues with that. But we are currently migrating our Codebase to PHP8, so I just wanted to ask, if the 9.* Branch could support PHP8 too? From what we see, the Lib is working fine, but its not installable d

[2020-12-06 15:26] GrahamCampbell commented on #606
The 9.x series is no longer maintained. Maybe I can help you with the upgrade. Which dependencies are blocking you?

[2020-12-06 15:27] GrahamCampbell commented on #606
Before upgrading to PHP 8, I'd definitely recommend upgrading everything. Often times packages can be installed even if they don't work, too!

[2020-12-06 17:24] boredom2 commented on #606
Thats very kind, thank you!
But I decided to solve it myself and I was successfull - could overcome indeed the Dependency Issues.

Thank you very much!

[2020-12-06 17:24] #606 closed, assigned to nobody

[2020-12-11 18:10] TheRatG opened #608 "Cannot unpack array with string keys"
[code]

with `array_values($parameters)` it works fine

[2020-12-11 18:41] GrahamCampbell commented on #608
This happens when you incorrectly call the result pager with an array with keys. This is why it works when you use array_values.

[2020-12-11 18:41] #608 closed, assigned to nobody

[2020-12-21 16:02] Stdubic opened #610 "ResultPager issue"
Hi guys.

I have an issue with ResultPager, My code goes like this:

$client = new Client();
$pager = new ResultPager($client,20);
$issues = $pager->fetchAll($client->repositories(), 'commits', [11261183]);

and get back with the response array of all 700 commits not paged :(

Am I doing something wrong? Please help with this issue. Pagination is a must in my implementation of API.

[2020-12-21 16:11] GrahamCampbell commented on #610
Yep, this is how the pager works (it does all the pagination behind the scenes so you don't have to see any pages). If you want to lazy iterate them, use the `fetchAllLazy` method (which will avoid loading all 700 in memory at once). :)

[2020-12-21 19:15] Stdubic commented on #610
Thanks for the fast response and explanation :)

[2020-12-21 20:08] #610 closed, assigned to nobody

[2020-12-22 18:28] sjadema opened #611 "Add support to trigger a pipeline"
With #307, support for the Pipeline Triggers API was added. GitLab's [API](https://docs.gitlab.com/ee/api/pipeline_triggers.html) docs are missing the description to trigger a pipeline (using a trigger). Documentation about this can be found on a different [page](https://docs.gitlab.com/ee/ci/triggers/#triggering-a-pipeline) in their docs.

Would be awesome if we could trigger a pipeline as well.

[2020-12-22 19:24] GrahamCampbell commented on #611
I'd accept a PR to implement this, with tests.

[2020-12-22 20:53] sjadema commented on #611
Sure, i already implemented it for the project i needed it for. Tomorrow i'll backport it to this repo.

[2020-12-23 12:05] sjadema opened #613 "Add support for ...ifExists on methods that might 404"
For our project, we're requiring either files or artifacts that might or might not exist. Using the API's endpoints (e.g. `$client->repositoryFiles()->getRawFile()`), i could check against the specific `RuntimeException` with code `404` but this adds a lot of boilerplate:

[code]

My suggestion is to add `...IfExists()` methods for endpoints that might return 'nothing' so it removes some of the bo

[2021-01-19 13:03] GrahamCampbell commented on #555
Not stale.

[2021-01-19 13:03] GrahamCampbell commented on #519
Not stale.

[2021-01-20 00:26] GrahamCampbell commented on #603
Friendly ping @bchatard. Are you willing to send in a PR?

[2021-01-24 00:15] enp-bwrona opened #617 "MergeRequest API - invalid option for approved_by_ids"
https://docs.gitlab.com/ee/api/merge_requests.html#list-project-merge-requests
[code]
approved_by_ids should accept "none" and "any" values. Not just array.

[2021-01-24 18:59] GrahamCampbell commented on #617
Do they mean to pass the literal string values `None` and `Any`?

[2021-01-24 19:25] enp-bwrona commented on #617
Yes, you can pass _None_, _Any_ or array of integers

[2021-01-25 06:23] cwandrey opened #618 "Date Release 11.1"
Hello,
when is the release of version 11.1 planned?
I slowly need the change from https://github.com/GitLabPHP/Client/pull/615

Thank you very much,
Chris

[2021-01-25 09:31] GrahamCampbell commented on #618
Not sure. You can still install it with `^11.1@dev` in the meanwhile. :)

[2021-01-25 09:32] cwandrey commented on #618
all right. Thanks for your answer

[2021-01-25 09:32] #618 closed, assigned to nobody

[2021-01-25 09:41] GrahamCampbell commented on #618
Something I am looking to solve before the release is https://github.com/GitLabPHP/Client/issues/617. There are lots of other places where this issue crops up. Any help with that would be appreciated.

[2021-01-26 01:11] GrahamCampbell commented on #618
Released it anyway, without a fix in place for that other issue (that other issue is a long standing issue anyway).

[2021-01-26 12:32] bchatard commented on #603
hi, sorry I'm busy actually...
I only can create a PR to add "missing" fields for everyone (no check on "sudo").
Do you think it's an interesting PR even it's incomplete?

thanks

[2021-01-26 12:45] GrahamCampbell commented on #603
I think that sounds fine, tbh.

[2021-01-26 14:46] allcreatures commented on #404
For what it is worth, I didn't mean to ignore you @GrahamCampbell. The stale bot reminded me of this issue. Fortunate for us I found a work around, sadly for this issue I now forget what it was and right now I am strangled by in work.

[2021-02-04 14:56] sjadema commented on #611
Released in https://github.com/GitLabPHP/Client/releases/tag/11.1.0

[2021-02-04 14:56] #611 closed, assigned to nobody

[2021-02-05 11:25] aadmathijssen opened #622 "Projects:all parameter list is incomplete"
When comparing the current list of attributes of the [`/projects` API endpoint](https://docs.gitlab.com/ee/api/projects.html#list-all-projects) to the [parameter list of the `\Gitlab\Api\Projects::all` class](https://github.com/GitLabPHP/Client/blob/11.1/src/Api/Projects.php#L25-L42), the following parameters are missing:
* `id_after` (integer)
* `id_before` (integer)
* `last_activity_after` (date

[2021-02-06 13:10] GrahamCampbell commented on #622
I'd accept a PR to the 11.2 branch to add anything that is missing. :)

[2021-02-06 13:25] aadmathijssen commented on #622
Already working on it!

[2021-02-06 13:36] aadmathijssen commented on #622
Here you go! :-)

[2021-02-11 13:20] GrahamCampbell commented on #622
🍻

[2021-02-11 13:20] #622 closed, assigned to nobody

[2021-02-16 13:05] sjadema commented on #613
@GrahamCampbell Hey man, not to push you or anything but do you think this is a good idea or should i keep this as a custom implementation on our side?

[2021-02-16 14:27] GrahamCampbell commented on #613
GitLab can return 404 for other reaons than the file doesn't exist. Such as is if the current user doesn't have access to the repo, or the repo path is typoed. It is for this reason this library doesn't have a special exception for 404, nor does it implement the method you suggest.

[2021-02-16 14:27] #613 closed, assigned to nobody

[2021-02-18 12:42] #197 closed

[2021-02-18 12:42] #256 closed

[2021-02-18 12:42] #324 closed

[2021-02-18 12:42] #339 closed

[2021-02-18 12:42] #430 closed

[2021-02-18 12:42] #450 closed

[2021-02-18 12:42] #496 closed

[2021-02-18 12:42] #506 closed

[2021-02-18 12:42] #508 closed

[2021-02-18 12:42] #512 closed

[2021-02-18 12:42] #107 closed

[2021-02-18 12:42] #519 closed

[2021-02-18 12:42] #108 closed

[2021-02-18 12:42] #109 closed

[2021-02-18 12:42] #555 closed, assigned to nobody

[2021-02-18 12:42] #571 closed, assigned to nobody

[2021-02-28 03:39] #583 closed, assigned to nobody

[2021-03-01 13:46] YKWeyer commented on #404
@outofcontrol I think since this issue was created, it was added with `$client->groups()->member($group_id, $user_id)`
 (for versions `9.18.0` and later)

https://github.com/GitLabPHP/Client/blob/f927ee3aad158b421437d3182a2f9d24f76f8ba5/src/Api/Groups.php#L153

[2021-03-01 14:55] allcreatures commented on #404
@YKWeyer Thank you. I will take a look. Perhaps okay to close this issue now that this is completed.

[2021-03-01 14:55] #404 closed

[2021-03-08 23:41] tgerakitis opened #626 "Tag search does not work, throws unkown option for "search""
Hi, I have encountered an error,

by definition, the tags API allows the "search" parameter as seen here: https://docs.gitlab.com/ce/api/tags.html

My code
[code]
Throws this error:
`The option "search" does not exist. Defined options are: "page", "per_page", "type".`

[2021-03-09 09:43] thyseus opened #627 "pass curl_options to curl"
Hey,

is it possible to configure GitlabPHP to use curl as http client adapter ?
if so, it is possible to pass options like the much desired `CURLOPT_SSL_VERIFYPEER` option ?
I do not see a way to do this with the `$builder` pattern - or it is not documented.

Thanks in advance for any help !

[2021-03-10 10:22] blankster opened #628 "All Issues doesn't seem to mean all Issues"
First of all, thanks for your work!

I've tried to use it, but struggle with something: I would like to get all issues:

[code]
When I compare the count of the issues I get by the token generated based on my personal GitLab user, I don't see the same counts I see in Gitlab itself. I've lost hours searching for the problem and why it doesn't return me the same count of issues I see in the web-GUI o

[2021-03-13 22:00] Yousha commented on #119
I got the error `title is missing` when using `Content-Type` as `text/plain`, instead of `application/json` (in Postman)

[2021-03-13 22:28] Yousha commented on #167
Same error when using package `php-http/socket-client` as `psr/http-client-implementation` .

Fixed by using package `kriswallsmith/buzz` instead.

[2021-03-14 00:19] GrahamCampbell commented on #167
@Yousha If you upgrade to the latest version of this package, this issue and many others are resolved.

[2021-03-14 00:19] GrahamCampbell commented on #119
@Yousha If you upgrade to the latest version of this package, this issue and many others are resolved.

[2021-03-16 08:28] Yousha commented on #167
@GrahamCampbell Already using latest version, but it wasn't about the version.

[2021-03-27 22:58] GrahamCampbell commented on #628
I'm not sure. I can only recommend reading the gitlab source code itself, to get to the bottom of this.

[2021-03-27 22:58] #628 closed, assigned to nobody

[2021-03-27 23:00] GrahamCampbell commented on #627
Yes. By default, we discover an http client automatically, but you can provide you own `Psr\Http\Client\ClientInterface` implementation as param 1 to the constructor of `Gitlab\HttpClient\Builder`.

[2021-03-27 23:00] #627 closed, assigned to nobody

[2021-04-09 14:53] IAL32 opened #638 "Pipeline creation fails due to invalid parameters"
According to the documentation [here](https://docs.gitlab.com/ee/api/pipelines.html#create-a-new-pipeline), to create a pipeline this is the correct POST query:

`curl --request POST --header "PRIVATE-TOKEN: <your_access_token>" "https://gitlab.example.com/api/v4/projects/1/pipeline?ref=master"`

Currently though, the abstract API for the POST request does not handle correctly the `ref` query para

[2021-04-19 15:05] IAL32 commented on #638
Not an issue, I was just putting the parameters wrong.

[2021-05-06 13:01] IAL32 opened #643 "Projects: paginated link headers, how to obtain them?"
The [documentation](https://docs.gitlab.com/ee/api/README.html#keyset-based-pagination) specifies that subsequent pages links are located in the request header.

Currently, it is not possible to obtain those headers. I have tried by hacking this:
[code]

The result is this:

[code]

However, as you can see, there is no `Link` or `Links` header as stated in the documentation, while making the follo

[2021-05-06 13:18] #643 closed, assigned to nobody

[2021-05-06 13:53] GrahamCampbell commented on #643
You should use the result pager class in this package. Manual paging is not recommended.

[2021-05-06 13:54] GrahamCampbell commented on #643
https://github.com/GitLabPHP/Client#example-with-pager

[2021-05-21 08:30] ghost opened #645 "environment -> environments"
https://github.com/GitLabPHP/Client/blob/4aa7d2af5614bca3f3473dae59fe930dbe73b496/src/Api/Environments.php#L57

This line generates a 404. Missing the 's'.

[2021-05-24 11:47] acassan opened #647 "Symfony 5.2+ PSR\Cache"
It seem PSR 2.0 is now by default on new symfony app (5.2+) and bundle no more compatible with the PSR 2.0 version.

` m4tthumphrey/php-gitlab-api 11.5.x-dev requires psr/cache ^1.0 -> found psr/cache[1.0.0, 1.0.1] but the package is fixed to 2.0.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for the update `command.``

Any work in p

[2021-05-24 17:20] #645 closed, assigned to nobody

[2021-05-24 17:21] GrahamCampbell commented on #626
Looks like this has been done in v11.3.0. 🚢

[2021-05-24 17:21] #626 closed, assigned to nobody

[2021-05-24 17:22] GrahamCampbell commented on #647
Thanks for the report. I think this'll require upstream changes first.

[2021-06-09 13:22] KameKam opened #649 "Enable group runner missing in api"
Hello
I'm making a python script to create a project with a import of a template project, until now everything is ok. When I try to run a pipeline through script, it's stuck because group runners are disabled by default in our gitlab. I seek many site and docs to find solution but no result or maybe i used them wrong.
![110px-Python-logo-notext svg](https://user-images.githubusercontent.com/495276

[2021-06-09 14:35] GrahamCampbell commented on #649
Thanks for getting in touch. I don't know what GitLab's internal product roadmap looks like. Sorry.

[2021-06-09 14:35] #649 closed, assigned to nobody

[2021-06-09 17:18] FredVaugeois opened #650 "The pager doesn't fetch the information correctly and is inconsistent"
Hi! I am currently facing an issue regarding the pager for the GitLab API. Basically, all I want to do is to get the last branch of one of my repositories. I have tried a lot of ways to do it.

The first one I tried is using fetchall like this:

[code]
which works as intended *most of the time*. The problem is that it does not work *all the time* which is a real issue. It has a lot of problems esp

[2021-06-26 20:37] #617 closed, assigned to nobody

[2021-06-26 20:37] #603 closed, assigned to nobody

[2021-07-02 08:38] graferowy opened #651 "repositories compare from_project_id"
Hello! Can you add "from_project_id" param to \Gitlab\Api\Repositories::compare function? Seems it's missing despite being in GitLab API documentation https://docs.gitlab.com/ee/api/repositories.html#compare-branches-tags-or-commits .

[2021-07-08 07:34] Jir4 commented on #647
Hello,

[2021-07-08 07:41] Jir4 commented on #647
Hello, when you said

Did you think it may require to update this package to be php 8.0 ready ?

[2021-07-08 10:38] GrahamCampbell commented on #647
No.

[2021-07-20 13:20] codegain opened #653 "Commits API: "List merge requests associated with a commit" missing"
Hi,

I think the following API call is missing in the current implementation or I haven't found a way to call it: https://docs.gitlab.com/ee/api/commits.html#list-merge-requests-associated-with-a-commit

I think this should be accessible via `$client->repositories()->commitMergeRequests($project_id, $sha)` (like `commitRefs`) but it seems that this is currently not implemented.

[2021-07-26 19:36] betz commented on #350
could you give an example on how to achieve this?

[2021-08-18 16:03] julienteisseire opened #656 "Error during $client->repositories()->createCommit()"
Hi,

I have an error trying to commit a file.
Actions array as parameter returns Resolve error :
```<b>Fatal error</b>:  Uncaught TypeError: Argument 1 passed to Symfony\Component\OptionsResolver\OptionsResolver::resolve() must be of the type array, string given, called in /var/www/html/vendor/m4tthumphrey/php-gitlab-api/src/Api/Repositories.php on line 324 and defined in /var/www/html/vendor/symf

[2021-08-18 16:10] julienteisseire commented on #656
Bad implem, array of array for actions. Solved :)

[2021-08-18 16:10] #656 closed, assigned to nobody

[2021-08-19 21:24] sibidharan opened #657 "Is there any readable documentation available?"
Unable to assume all functions that exist!

[2021-08-19 21:46] GrahamCampbell commented on #657
Honestly, you should find the code self-documenting + GitLab's API docs, in combination with the examples on the README. Please let me know if there's anything I can do to make that process easier.

[2021-08-19 21:46] #657 closed, assigned to nobody

[2021-08-19 21:47] GrahamCampbell commented on #657
I don't have the time to maintain a copy of GitLab's API docs, or feel the need to do that. They can do a better job than me. Moreover, the valid parameters actually verify depending on the GitLab API version.

[2021-08-23 10:35] sibidharan commented on #657
Understood, thanks.

[2021-08-24 08:14] MoogyG opened #659 "Can't use a path artifact with "artifactByRefName""
`artifactByRefName` function of `Jobs` works well with artifacts stored at root, but if you have an artifact in a folder, `/` will be encoded with `%2F` and raises 404.

Example :
[code]

you will  get

`/api/v4/projects/.../jobs/artifacts/.../raw/terraform%2Ftf_output.json?job=deploy`

instead of

`/api/v4/projects/.../jobs/artifacts/.../raw/terraform/tf_output.json?job=deploy`

I think `self::en

[2021-08-24 08:31] #659 closed, assigned to nobody

[2021-09-23 00:49] andrii-trush opened #663 "The option "iids" with value array is invalid."
For duplicates preventing I'm trying to check iid doesn't exists.

[code]

but receive exception
[code]

[2021-10-02 14:25] SOHELAHMED7 opened #665 "Cannot unpack array with string keys"
Meta:
This is not an issue but part of docs which I would like to add

---

3rd arg in `fetch()` of `\Gitlab\ResultPager` should be array. Yes, but again   that array should be wrapped in array to get rid of error as in title.

Why that error was produced is explained [here](https://stackoverflow.com/a/40663869) very well

Example:

Wrong
[code]

Right
[code]

[2021-10-02 14:26] #665 closed, assigned to nobody

[2021-10-05 20:35] lairg99 commented on #647
What is the current status here?

[2021-10-24 16:15] dmclark commented on #319
@GrahamCampbell sorry for commenting on a closed issue, but it relates to my question.

I checked & confirmed that curl in enabled in php (7.4) but for the life of me I don't know how  CurlHttpClient and/or access the x-vars in the response header.

My code is:
`$gl = new \Gitlab\Client();
$gl->setUrl($url);
$gl->authenticate($token, Gitlab\Client::AUTH_OAUTH_TOKEN);
$projs = $gl->projects(['order

[2021-10-24 16:22] GrahamCampbell commented on #319
You should use the result pager. It should never be necessary to manually set per page or page numbers. :)

[2021-10-24 16:22] GrahamCampbell commented on #319
https://github.com/GitLabPHP/Client#example-with-pager

[2021-10-24 22:54] dmclark commented on #319
Thanks so much @GrahamCampbell

Whenever I add parameters, like

$projs = $pager->fetchAll($client->projects(),'all', ['orderBy'=> 'last_activty_date']);

I get a 500 error  with no info in error logs

[2021-10-24 23:33] GrahamCampbell commented on #319
The last param there looks incorrect. That needs to be an array of parameters to pass. You need `[['orderBy'=> 'last_activty_date']]` instead of `['orderBy'=> 'last_activty_date']`.

[2021-10-25 15:20] dmclark commented on #319
hmm..

$projs = $pager->fetchAll($client->projects(),'all', [['orderBy'=> 'last_activty_date']]);

same thing

[2021-10-25 15:21] GrahamCampbell commented on #319
Maybe your server is running out of memory? Not much else I can suggest here.

[2021-10-25 21:37] dmclark commented on #319
My apologies for being an idiot.

In case It helps anybody ellse
'orderBy'=> 'last_activty_date'
should be
'order_by' => 'last_activity_at',

[2021-11-01 12:28] glebsergeevich opened #668 "I cannot connect via SSL (GuzzleHttp\Client verify false)"
How can I disable http certificate validation?

Error:
`
cURL error 60: SSL certificate problem: unable to get local issuer certificate (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)
`

I need an example how to connect it to the Gitlab php class.

`
$client = new \GuzzleHttp\Client([
	'verify' => false,
]);
`

[2021-11-01 16:46] GrahamCampbell commented on #668
I don't want to encourage this and provide an easy example. Correct certificate handling is easy in 2021.

[2021-11-01 16:46] #668 closed, assigned to nobody

[2021-11-07 09:28] #650 closed, assigned to nobody

[2021-11-08 15:31] greymag opened #672 "404 Exception for some branches names"
If I want to call `compare()` for some branch with `/` in name, for example:

[code]

Than I get an exception:
[code]

If I trace request, I can see that name of brach was encoded twice:

[code]

Which leads to "not found" result.

My `compose.json` requirements:
[code]

[2021-11-29 10:32] #651 closed, assigned to nobody

[2021-12-02 16:42] internalsystemerror opened #678 "Projects API: The ability to list/add/remove protected tags is missing."
There are some missing methods from the Projects API which I will create a PR for accompanying this issue.

First with regards to protected branches:
- Missing ability to [unprotect branches](https://docs.gitlab.com/ee/api/protected_branches.html#unprotect-repository-branches)

But mainly the protected tags are not yet implemented:
- Missing ability to [retrieve list of protected tags](https://doc

[2021-12-17 17:33] #653 closed, assigned to nobody

[2021-12-26 19:24] GrahamCampbell commented on #647
It is still possible to use psr cache v1, so this was never a blocker. The only issue is that composer would not automatically downgrade it for you - you'd have to first downgrade it yourself, or install this package by hand in the composer.json, and run a full `composer update`. In any case, support for v2 is coming in the next release. I should also point out this is not related to PHP 8.0 or 8.

[2021-12-26 19:24] #647 closed, assigned to nobody

[2021-12-26 19:27] GrahamCampbell commented on #672
Thanks for the report. This will be fixed shortly.

[2021-12-26 19:29] #672 closed, assigned to nobody

[2021-12-28 14:36] grasmash commented on #350
[code]

[2022-02-09 16:35] grasmash commented on #393
I'm encountering this too. Did you solve it?

[2022-02-12 21:42] #678 closed, assigned to nobody

[2022-02-12 21:42] GrahamCampbell commented on #678
I'd accept a PR to implement this.

[2022-02-12 21:43] GrahamCampbell commented on #663
I'd accept a PR to implement this. :)

[2022-02-12 21:43] #663 closed, assigned to nobody

[2022-02-14 11:42] internalsystemerror commented on #678
@GrahamCampbell I offered one. You said I needed to document some parameters. I asked for clarification as I couldn't find any existing parameter documentation and I'd just copied the `protectedBranches` method. I don't think you noticed that I'd asked anything as you closed the PR unmerged.

I'm no longer using this library, but those commits should still be available to you. glhf.

[2022-02-14 11:43] GrahamCampbell commented on #678
Yeh, I'm aware. If anyone else wants to pick this up, they're welcome to. Open source is everyone's codebase. I won't personally be doing this, in this instance. :)

[2022-02-16 11:23] IAL32 commented on #638
Reopened, as the issue is still relevant, and a comprehensive PR is being made to fix it.

[2022-02-21 12:08] fpiccinali opened #700 "Enable "not" parameter in search query"
In https://docs.gitlab.com/ee/api/issues.html#list-issues, there is a parameter "not" wich invert the way the query select issues.

It is used when you need issues who have not the label needed for instance.

If i use :

[code]

I have this error message :

[code]

Is there a way to have this parameter avalaible ?

[2022-02-21 12:10] fpiccinali commented on #700
sample in python : https://stackoverflow.com/questions/67005558/how-to-use-not-condition-in-the-gitlab-api-issue-query

[2022-03-02 06:30] michalbursik opened #702 "Invalid info in readme.md"
composer require "graham-campbell/gitlab:^6.0" does not exists in 11.7

[2022-03-02 11:03] GrahamCampbell commented on #702
Yeh, you need min stability dev or `@dev` for now. That package will be released later this month.

[2022-03-02 11:03] #702 closed, assigned to nobody

[2022-03-02 11:03] GrahamCampbell commented on #702
You can use the 5.x series instead of you want a stable release. :)

[2022-03-10 04:58] michal-bursik opened #703 "Release 11.8"
May I ask you when it will be released version 11.8?  Or  how can I help you to release it ?

Thanks

[2022-04-24 18:34] GrahamCampbell commented on #703
I'll release it today. :)

[2022-04-24 18:34] #703 closed, assigned to nobody

[2022-04-24 18:43] GrahamCampbell commented on #638
Hmmm, GitLab should really fix this on their side. This is inconsistent with how all their other API routes behave.

[2022-04-24 18:44] GrahamCampbell commented on #638
I'll merge your fix to unblock things, but I don't like it, lol. :)

[2022-04-24 18:44] #638 closed, assigned to nobody

[2022-06-23 06:32] fpiccinali commented on #700
ping

[2022-07-30 14:42] #700 closed, assigned to nobody

[2022-09-01 05:43] cwandrey opened #717 "Release 11.9"
May I ask you when it will be released version 11.9?

Thanks

[2022-09-16 09:42] Bjoern3003 opened #719 "Download Releases and Branches"
Hi,

I can download the latest repo without problems, but there is no endpoint, to download release archives or branch archives.

Is there any plan, to implement this feature or does anybody has an idea?

I know, I get the full path in the release or branch array, but I can not get the archive, if its private.

Thanks a lot

[2022-10-14 16:09] davidwindell opened #724 "Add `environment` and `status` attributes to Deployment API."
Add `environment` and `status` attributes to Deployment API.

https://docs.gitlab.com/ee/api/deployments.html

[2022-10-18 21:42] arnegroskurth opened #727 "FR: Support single tag retrieval"
See: https://docs.gitlab.com/ee/api/tags.html#get-a-single-repository-tag

[2022-10-28 13:26] Mmasson-01 commented on #650
I believe this was not resolved !

[2022-11-18 14:29] boyinthefog opened #733 "Error in ResultPager."
Hi in line 93 , you have error  (three dots before $parameters)
       $result = self::bindPerPage($api, $this->perPage)->$method(...$parameters);